
/*************************************************
Html General Elements
*************************************************/

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

a{
	color: #8EB7D4;
}

a i{
	color: #637BBF;
}

a:hover {
    color: #D9230F;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 12px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 13px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.no-padding-sides{
	padding-left: 0px;
	padding-right: 0px;
}

.panel, .btn{
	border-radius: 0px;
}


/*************************************************
Notifications dropdown
*************************************************/

@media screen and (max-width: 768px) {

	.dropdown > .dropdown-menu{
		position: fixed;
    	left:10px;
    	top:100px;
	}

	.dropdown-alerts{
		position: fixed !important;
    	right:-50px !important;
    	top:100px !important;
	}
}

.dropdown-alerts2{
	width: 300px;
}

.my-dropdown .panel{
	width: 320px;
}
.my-dropdown .panel-heading{
	padding-top: 0px;
	padding-bottom: 2px;
}

.my-dropdown .panel .row{
	padding-left: 0px;
	padding-right: 0px;
}

.my-dropdown .panel-body{
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 0px;

	border-bottom-style: solid;
	border-bottom-width: 1.5px;
	border-color: #E5E5E5;
}

.my-dropdown .panel-body:last-child{
	border: none;
}

.my-dropdown .panel-body:hover{
	cursor: pointer;
	background-color: #F5F5F5;
}

.my-dropdown .panel-body img{
	width: 50px;
	height: 50px;
}

.my-dropdown .panel-body .notification-text{
	margin-top: -8px;
	padding-left: 4px; 
}

.my-dropdown .panel-body .notification-text p{
	font-size: 75%;
}



/*************************************************
Messages dropdown
*************************************************/

.messages-dropdown .panel .panel-heading a{
	font-size: 85%;
}

.messages-dropdown .panel .panel-body h5, .messages-dropdown .panel .panel-body h6{
  	line-height: 10px; 
}


.messages-dropdown .panel .panel-body .messages-number{
	font-size: 85%;
	margin-top: 5px;
}


.messages-dropdown .panel-body .notification-text p{
	margin-top: -3px; 
}




/*************************************************
Trend Bar
*************************************************/


.trend-bar{
	padding: 0px;
}

.trend-bar .tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.trend-bar .panel-heading .panel-title {
	padding-top: 10px;
	padding-left: 10px;
}

.trend-bar .panel-body{
	padding: 5px;
}

.trend-bar .panel-body .list-group li{
	border-color: transparent;
	padding-bottom: 5px;
}

.trend-bar .panel-body .list-group li:last-child{
	border-color: transparent;
	padding-bottom: 0px;
}

.trend-bar .panel-body .list-group .trend-event-description{
	margin-top: -10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.trend-bar .panel-heading{
	padding-bottom: 0px;
	/*padding-top: 0px;*/
}

.trend-bar .panel-heading .nav-tabs:hover{
	cursor: pointer;
}


.trend-bar .trend-user:first-child{
	margin-top: 10px;
}

.trend-bar .trend-user .trend-user-tipster-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 5px;
}

.trend-bar .trend-user .trend-user-tipster-image img{
	width: 50px;
    height: 50px;
}

.trend-bar .trend-user{
	padding-left: 15px;
	padding-bottom: 15px;
}

.trend-bar .small-text{
	font-size: 11px;
}

.trend-bar .trend-user .panel-title{
    margin-left: 50px;
    margin-top: 10px;
}


.trend-bar .trend-user button{
	margin-top: 5px;
}

.trend-bar.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.trend-bar.panel.with-nav-tabs .panel-heading .panel-title{
    padding: 10px;
}
.trend-bar.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.trend-bar.panel.with-nav-tabs .nav-tabs .active a{
	background-color: white;
}
.trend-bar.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/*******************************
trend-bar-item
********************************/

.trend-bar-item{
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;

	padding-bottom: 0px;
}

.trend-bar-item .panel-heading{
	color: #9E9E9E;
	background-color: #FAFAFA;
}

.trend-bar-item .panel-heading .panel-title{
	font-size: 120%;
}

.trend-bar-item .panel-heading .panel-title i {
	margin-right: 5px;
}

.trend-bar-item .panel-body{
	border-color: transparent;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: -10px;
}

.trend-bar-item .panel-body .list-group li{
	border-color: transparent;
	padding-bottom: 2px;
	padding-top: 2px;
}


.trend-bar-item .trend-user a{
	color: #7F8B94;
}

.trend-bar-item .trend-user:first-child{
	margin-top: 10px;
}

.trend-bar-item .trend-user .trend-user-tipster-image img{
	width: 40px;
    height: 40px;
}

.trend-bar-item .trend-user:last-child{
	margin-bottom: 15px;
}

.trend-bar-item .small-text{
	font-size: 11px;
	color: #A0A0A0;
}

.trend-bar-item .trend-user button i{
	color: #A0A0A0;
}



/*************************************************
Feed
*************************************************/

.feed-post{
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;
}

.feed-post a { 
    color: #424444;
}

.feed-post a small{ 
	color: #999999;
}

.feed-post a:hover{
	color: #D9230F;
}

.feed-post .post-content{
	color: #828282;
}

.feed-post .panel-heading, .feed-post .panel-footer{
	background-color: white;
	color: #A0A0A0;
} 

.feed-post .panel-heading .panel-title{
	padding-top: 10px;
	color: #999999;
}

.feed-post .panel-heading .btn-group button{
	margin-left: 1px;
}


.feed-post .feed-post-tipster-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 5px;
}

.feed-post .feed-post-tipster-image img{
	width: 50px;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .feed-post .feed-post-tipster-image {
        margin-left: 15px;
    }
}

.small-text{
	font-size: 10px;
}

.feed-post .panel-title{
    margin-top: 10px;
}

.post-content{
	margin-top: 80px;
}

.feed-post .post-content .post-tips .panel-body{
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 25px;
	line-height: 90%;
}

.feed-post .tipster-comment{
	margin-bottom: -15px;
	padding-left: 10px;
}

.feed-post .panel-footer a{
	text-align: center;
}
.feed-post .panel-footer small{
	margin-left: 6px;
}

.feed-post .feed-post-tipster-history{
	float: right;
	margin-top: -50px;
}

.popover-tipster-history div div{
	line-height: 90%;
	padding: 5px;
	padding-bottom: 0px;
}

.popover-tipster-history div{
	margin-bottom: 10px;
}

.popover-tipster-history div:last-child{
	margin-bottom: 2px;
}


@media screen and (max-width: 400px) {
    .feed-post .feed-post-tipster-history {
		margin-top: 0px;
    }    

	.feed-post .post-content .post-tips:first-child{
		margin-top: 46px;
	}
}


/** new post - Got any tips? */

#feed-new-post{
	margin-bottom: 50px;
	padding: 0px;
	background: #FAFAFA;
	/*background: #F2F2F2;*/
}

#feed-new-post textarea{
	overflow:hidden;
	border-radius:0px;
}

#feed-new-post .new-post-tipster-image{
	padding: 0px;
}

#feed-new-post .new-post-tipster-image img{
	width: 38px;
	height: 38px;
	margin-right: 5px;
	margin-top: 1px;
}

#new-post-button-wrapper{
	padding-top: 0px;
}

#feed-textarea{
	padding-top: 8px;
	border-radius: 5px;
	border-color: #D9D9D9;
    resize: none;
    height: 40px;
}

/***** post to buy a tip ****/

.feed-post-to-buy, .feed-post-to-buy .panel-body, .feed-post-to-buy .panel-heading, .feed-post-to-buy .panel-footer{
	background-color: #F7FFF9;
}

.feed-post-to-buy .panel-footer{
	margin-top: -5px;
}

.feed-post-to-buy .panel-footer .glyphicon-shopping-cart {
    margin-right: 10px;
}

.feed-post-to-buy .panel-footer .buttons a {
    float: left;
    position: relative;
    width: 33%;
}



/*************************************************
post-comment-box
*************************************************/

.feed-post{
	padding-bottom: 0px !important;}

.post-comment-box{
	/*padding: 15px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #F7F7F7;
	color: #828282;

	border-right: none;
	border-left: none;
	border-bottom: none;
    margin-bottom: 0;
}

.post-comment-box .media-body a{
	color: #8EB7D4;
}

.post-comment-box .media-body small{
	font-size: 70%;
}

.post-comment-box .panel-body{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.post-comment-box .media-left{
	padding-top: 5px;
}

.post-comment-box img{
	width: 30px;
	height: 30px;
}


/*************************************************
Profile
*************************************************/

/*********** Profile info */

@media (max-width: 768px) {
    .affix {
	  position: static;
	  width: auto;
	  top: 0;
    }
}

#profile-info .profile-user-img{
	width: 35px;
	height: 35px;
}

#profile-info .profile-user-img img{
	width: 35px;
	height: 35px;
}

#profile-info .panel-heading .panel-title {
	padding-top: 5px;
	padding-left: 10px;
	font-size: 130%;
}

#profile-info .panel-heading #profile-add-user {
	width: 23px;
	height: 23px;
	padding-right: 10px;
	padding-top: 5px;
}

#profile-info .panel-heading #profile-add-user img{
	width: 23px;
	height: 23px;
}

#profile-info .panel-body {
	padding-left: 0px;
	padding-right: 0px;
}

#profile-info .panel-body #profile-info-details div{
	text-align: center;
}

#profile-info .panel-body #profile-info-details div h5{
	font-weight: bold;
}

#profile-info .panel-body #profile-info-other-networks {
	margin-top: 15px;
}

#profile-info .panel-body #profile-info-other-networks div{
	text-align: center;
	/*width: 25%;*/
}

#profile-info .panel-body #profile-info-other-networks div img{
	width: 75%;
	height: 75%;
}

#profile-info .profile-stats .panel-heading .panel-title{
	padding-top: 5px;
	padding-left: 10px;
	font-size: 115%;
}

#profile-info .profile-stats .panel-heading span{
	padding-right: 5px;
}

#profile-info .profile-stats #profile-prefered-sports img{
	width: 10px;
	height: 10px;
	margin-bottom: 2px;
}


/*************************************************
Sports
*************************************************/

#sports-list-bar .list-group-item img{
	height: 15px;
	width: 15px;
	margin-top: -3px;
}

#sports-list-bar .list-group .top-leagues-list-bar{
	padding-left: 10px;
	margin-bottom: 0px;
}

.sidebar img{
	height: 15px;
	width: 15px;
}

.sidebar{
	overflow-y:scroll;
}

.chat-panel .panel-body::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: transparent;
}

.sidebar::-webkit-scrollbar, .chat-panel .panel-body::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb, .chat-panel .panel-body::-webkit-scrollbar-thumb
{
	background-color: #8F8F8F;
}


/**********************************
league tables
**********************************/

.league-tables .panel{
	border-width: 1px;
	border-color: #D3E0E9;

	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
}

.league-tables .panel .panel-heading{
	background-color: white;
	color: #A0A0A0;
}

.league-tables .panel .panel-heading .panel-title{
	font-size: 115%;
}


.league-tables .panel-heading{
	padding-top: 8px;
	padding-bottom: 5px;
}


.league-tables .panel-body{
	padding: 0px;
}

.league-tables .panel-body a{
	padding-bottom: 5px;
	padding-top: 2px;
}

.league-tables .breadcrumb{
	background: #E9EBEE;
	margin-bottom: 0px;
}

.league-tables .league-game{
	padding-left: 0px;
	padding-right: 0px;
}

.league-tables .league-game a{
	text-align: center;
}

.league-tables .league-game a:first-child{
	text-align: left;
}

.league-tables .league-game-selection-type{
	text-align: center;
	font-size: 90%;
}

.league-tables .league-game a:not(:first-child):hover{
	background-color: #F7F7F7;
}

.league-tables .league-game a small{
	color: #3C4F85;
	padding-right: 5px;
}



/**********************************
bet slip
**********************************/


#bet-slip .panel-heading{
	padding-top: 10px;
	padding-bottom: 10px;
}

#bet-slip .panel-heading h3{
	font-size: 110%;
}

#bet-slip .panel-body{
	padding-bottom: 10px;
}


#bet-slip .panel-body{
	padding-bottom: 2px;
	padding-top: 7px;
}

#bet-slip .panel-body input { 
	display: inline;
	width: 50px;
	margin-left: 5px;
}

#bet-slip .panel-body .bet-slip-single-bet:first-child{ 
	margin-top: -8px; 
}

#bet-slip .panel-body .bet-slip-single-bet{ 
	margin-top: -8px; 
}

#bet-slip .panel-body .bet-slip-single-bet:first-child{ 
	margin-top: 0px; 
}

#bet-slip .panel-body .bet-slip-single-bet .panel-body{  
    padding-bottom: 0px;
}

#bet-slip .panel-body .bet-slip-single-bet .panel-body p{ 
    line-height: 90%;
}


#bet-slip #bet-slip-total-odd{ 
    margin-top: -10px;
}

#bet-slip .panel-body .bet-slip-single-bet .panel-body .cross{  
    font-size: 90%;
}


#bet-slip .empty-bet-slip{  
    margin-top: 7px;
    margin-bottom: 0px;
}

#bet-slip button{
    margin-bottom: 5px;
}

/**********************************
Tips on this game
**********************************/

#tips-on-this-events .chat-img img{ 
    width: 50px;
    height: 50px;
}

#tips-on-this-events .tip-on-this-event .media-body p:nth-child(2){ 
	margin-top: -3px;
	font-size: 80%;
}


#tips-on-this-events .tip-on-this-event { 
    padding-left: 10px;
}

#tips-on-this-events .tip-on-this-event a { 
    color:black;
}

#tips-on-this-events .tip-on-this-event { 
    margin-top: 3px;
    margin-bottom: 3px;
}


/*****************************************
Buttons
*****************************************/

.my-sucess-button{
	color: white;
	border-color: #5CB85C;
	background-color: #5CB85C;
	border-radius: 2px !important;
}

.my-sucess-button:hover{
	color: white;
	background-color: rgba(92, 184, 92, 0.8);
}

.my-fail-button{
	color: white;
	border-color: #F0433D;
	background-color: #F0433D;
	border-radius: 2px !important;
}

.my-fail-button:hover{
	color: white;
	border-color: #F0433D;
	background-color: rgba(240, 67, 61, 0.8);
}


/*******************************************
		bordered-panel
******************************************/

.bordered-panel-green{
	border-width: 1px;
	border-color: #B8C2B8;/*3C3C3C*/
}
.bordered-panel-green .panel-heading{
	background-color: #F5F5F5;/*3C3C3C*/
	border-bottom-width: 1px;
	border-color: #B8C2B8;/*3C3C3C*/
}
.bordered-panel-green .panel-heading .panel-title{
	padding-top: 2px;
	padding-bottom: 2px;

	color: black;
	font-size: 110%;
}