
/*************************************************
Html General Elements
*************************************************/

html, body{
	background-color: #F7F7F7;
}

body { padding-top: 70px; }

a, a:hover, a:active, a:visited {
    text-decoration:none;
}

a:hover {
    color: #D9230F;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 12px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 13px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}


/*************************************************
Nav Bar
*************************************************/

#navbar-tipster img{
	width: 20px;
    height: 20px;
    margin-left: 5px;
}


/*************************************************
Left Bar
*************************************************/

.left-bar .list-group .list-group-item{
	border-color: transparent;
	background-color: #F7F7F7;
}

.left-bar .list-group .list-group-item a { 
    color: #424444;
    text-decoration: none;
}

.left-bar .list-group .list-group-item a:hover { 
    color: #D9230F;
}


/*************************************************
Notifications dropdown
*************************************************/

.my-dropdown .panel{
	width: 320px;
}
.my-dropdown .panel-heading{
	padding-top: 0px;
	padding-bottom: 2px;
}

.my-dropdown .panel .row{
	padding-left: 0px;
	padding-right: 0px;
}

.my-dropdown .panel-body{
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 0px;

	border-bottom-style: solid;
	border-bottom-width: 1.5px;
	border-color: #E5E5E5;
}

.my-dropdown .panel-body:last-child{
	border: none;
}

.my-dropdown .panel-body:hover{
	cursor: pointer;
	background-color: #F5F5F5;
}

.my-dropdown .panel-body img{
	width: 50px;
	height: 50px;
}

.my-dropdown .panel-body .notification-text{
	margin-top: -8px;
	padding-left: 4px; 
}

.my-dropdown .panel-body .notification-text p{
	font-size: 75%;
}



/*************************************************
Messages dropdown
*************************************************/

.messages-dropdown .panel .panel-heading a{
	font-size: 85%;
}

.messages-dropdown .panel .panel-body h5, .messages-dropdown .panel .panel-body h6{
  	line-height: 10px; 
}


.messages-dropdown .panel .panel-body .messages-number{
	font-size: 85%;
	margin-top: 5px;
}


.messages-dropdown .panel-body .notification-text p{
	margin-top: -3px; 
}




/*************************************************
Trend Bar
*************************************************/


.trend-bar{
	/*background-color: black;*/
	padding: 0px;
}

.trend-bar .tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

.trend-bar .panel-heading .panel-title {
	padding-top: 10px;
	padding-left: 10px;
}

.trend-bar .panel-body{
	padding: 5px;
}

.trend-bar .panel-body .list-group li{
	border-color: transparent;
	padding-bottom: 5px;
}

.trend-bar .panel-body .list-group li:last-child{
	border-color: transparent;
	padding-bottom: 0px;
}

.trend-bar .panel-body .list-group .trend-event-description{
	margin-top: -10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.trend-bar .panel-heading{
	padding-bottom: 0px;
	/*padding-top: 0px;*/
}

.trend-bar .panel-heading .nav-tabs:hover{
	cursor: pointer;
}



.trend-bar .trend-user .trend-user-tipster-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 5px;
    float: left;
}

.trend-bar .trend-user .trend-user-tipster-image img{
	width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
}

.trend-bar .trend-user{
	padding-left: 15px;
	padding-bottom: 15px;
}

.trend-bar .small-text{
	font-size: 11px;
}

.trend-bar .trend-user .panel-title{
    /*text-align: right;*/
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
}

.trend-bar .trend-user #add-user-trend{
	margin-right: 24px;
	margin-top: 11px;
	width: 30px;
	height: 30px;
}

.trend-bar .trend-user #add-user-trend img{
	width: 30px;
	height: 30px;
}


.trend-bar .trend-user #add-user-trend:hover{
	cursor: pointer;
}

.trend-bar a, .trend-bar a:hover, .trend-bar a:active, .trend-bar a:visited {
    text-decoration:none;
}



/*************************************************
Feed
*************************************************/

.feed-post a { 
    color: #424444;
}

.feed-post a:hover{
	color: #D9230F;
}

.feed-post .panel-heading, .feed-post .panel-footer{
	background-color: white;
} 

.feed-post .feed-post-tipster-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 5px;
}

.feed-post .feed-post-tipster-image img{
	width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
}

@media screen and (min-width: 768px) {
    .feed-post .feed-post-tipster-image {
        margin-left: 15px;
    }
}

.small-text{
	font-size: 10px;
}

.feed-post .panel-title{
    margin-top: 10px;
}

.post-content{
	margin-top: 80px;
}

.feed-post .post-content .post-tips .panel-body{
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 25px;
	line-height: 90%;
}

.feed-post .tipster-comment{
	margin-bottom: -15px;
	padding-left: 25px;
}


/** new post - Got any tips? */

#feed-new-post{
	margin-bottom: 50px;
	padding: 0px;
	background: #FAFAFA;
	/*background: #F2F2F2;*/
}

#feed-new-post textarea{
	overflow:hidden;
}

#feed-new-post .new-post-tipster-image{
	padding: 0px;
}

#feed-new-post .new-post-tipster-image img{
	width: 38px;
	height: 38px;
}

#new-post-button-wrapper{
	padding-top: 0px;
}

#feed-new-post button{
	/*position: absolute;
	right: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	opacity: 0;*/
}

#feed-textarea{
	padding-top: 8px;
	border-radius: 5px;
	border-color: #D9D9D9;
    resize: none;
    height: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}

/***** post to buy a tip ****/

.feed-post-to-buy, .feed-post-to-buy .panel-body, .feed-post-to-buy .panel-heading, .feed-post-to-buy .panel-footer{
	background-color: #F7FFF9;
}

.feed-post-to-buy .panel-footer{
	margin-top: -5px;
}

.feed-post-to-buy .panel-footer .glyphicon-shopping-cart {
    margin-right: 10px;
}

.feed-post-to-buy .panel-footer .buttons a {
    float: left;
    position: relative;
    width: 25%;
}



/*************************************************
Profile
*************************************************/

/*********** Profile info */

@media (max-width: 768px) {
    .affix {
	  position: static;
	  width: auto;
	  top: 0;
    }
}

#profile-info .profile-user-img{
	width: 35px;
	height: 35px;
}

#profile-info .profile-user-img img{
	width: 35px;
	height: 35px;
}

#profile-info .panel-heading .panel-title {
	padding-top: 5px;
	padding-left: 10px;
	font-size: 130%;
}

#profile-info .panel-heading #profile-add-user {
	width: 23px;
	height: 23px;
	padding-right: 10px;
	padding-top: 5px;
}

#profile-info .panel-heading #profile-add-user img{
	width: 23px;
	height: 23px;
}

#profile-info .panel-body {
	padding-left: 0px;
	padding-right: 0px;
}

#profile-info .panel-body #profile-info-details div{
	text-align: center;
}

#profile-info .panel-body #profile-info-details div h5{
	font-weight: bold;
}

#profile-info .panel-body #profile-info-other-networks {
	margin-top: 15px;
}

#profile-info .panel-body #profile-info-other-networks div{
	text-align: center;
	/*width: 25%;*/
}

#profile-info .panel-body #profile-info-other-networks div img{
	width: 75%;
	height: 75%;
}

#profile-info .profile-stats .panel-heading .panel-title{
	padding-top: 5px;
	padding-left: 10px;
	font-size: 115%;
}

#profile-info .profile-stats .panel-heading span{
	padding-right: 5px;
}

#profile-info .profile-stats #profile-prefered-sports img{
	width: 10px;
	height: 10px;
	margin-bottom: 2px;
}


/*************************************************
Sports
*************************************************/

#sports-list-bar .list-group-item img{
	height: 15px;
	width: 15px;
	margin-top: -3px;
}

#sports-list-bar .list-group .top-leagues-list-bar{
	padding-left: 10px;
	margin-bottom: 0px;
}


/**********************************
league tables
**********************************/

.league-tables .panel-heading{
	/*padding-bottom: 0px;
	padding-top: 0px;*/
}

.league-tables .panel-heading h3{
	font-size: 110%;
}

.league-tables .panel-body{
	padding-bottom: 2px;
	padding-top: 7px;
}

.league-tables .panel-body a{
	padding-bottom: 5px;
}

.league-tables .breadcrumb{
	margin-bottom: 0px;
}