
<div class="row">

    <!-- profile info details -->
    <div id="profile-info" class="col-md-4">

        <!-- profile details -->
    	<div class="panel panel-default">
    	    <div class="panel-heading clearfix col-xs-12 media">

                <div class="profile-user-img media-left">
                    <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
                </div>
                <div class="media-body">
                	<p class="panel-title">João Almeida</p>
                </div>
                 
    	    </div>

    	    <div class="panel-body">
    	        
    	        <div class="col-xs-12" id="profile-info-details">
    		        <div class="col-xs-4">
    		        	<h5>Followers</h5>
    		        	<span>124</span>
    		        </div>
    		        <div class="col-xs-4">
    		        	<h5>Following</h5>
    		        	<span>6</span>
    		        </div>
    		        <div class="col-xs-4">
    		        	<h5>Tips</h5>
    		        	<span>65</span>
    		        </div>
    	        </div>
    	        
    	        <div class="col-xs-12" id="profile-info-other-networks">
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/facebook.png"></a>
    		        </div>
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/twitter.png"></a>
    		        </div>
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/google+.png"></a>
    		        </div>
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/linkedin.png"></a>
    		        </div>
    	        </div>


    	    </div>
    	</div> <!-- profile details -->


        <!-- profile stats -->
        <div class="panel panel-default profile-stats">
            <div class="panel-heading clearfix">

                <div class="panel-title"> <span class="glyphicon glyphicon-stats"></span> Estatisticas </div>

            </div>

            <div class="panel-body">
                
                <div class="col-xs-12" id="profile-info-details">
                    <div class="col-xs-4">
                        <h5>ROI</h5>
                        <span>5.23%</span>
                    </div>
                    <div class="col-xs-4">
                        <h5>Streak</h5>
                        <span>6</span>
                    </div>
                    <div class="col-xs-4">
                        <h5>Win %</h5>
                        <span>20.5%</span>
                    </div>
                    <div class="col-xs-6">
                        <h5>Avg Win Odds</h5>
                        <span>1.26</span>
                    </div>
                    <div class="col-xs-6" id="profile-prefered-sports">
                        <h5>More tips on</h5>
                        <img src="img/sports/football.png">
                        <span>Football</span>
                    </div>
                </div>
            </div>
        </div> <!-- profile stats -->

        <button type="button" class="btn btn-default btn-primary btn-block"><i class="fa fa-user-plus fa-fw"></i>Follow</button>
    </div> <!-- profile info details -->


    <!-- posts -->
    <div class="col-md-6 col-md-push-1">
        
        <div ng-include="'partials/post.html'"></div>

        <div ng-include="'partials/post.html'"></div>
        
        <div ng-include="'partials/post.html'"></div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover({ trigger: "hover", container: 'body' });
    });
</script>