<!-- profile info details -->
<div id="profile-info" class="col-xs-12 col-sm-4 col-md-3 affix">

    <!-- profile details -->
	<div class="panel panel-default">
	    <div class="panel-heading clearfix">

            <div class="col-xs-1 profile-user-img">
                <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
            </div>
            <div class="col-xs-8">
            	<p class="panel-title">João Almeida</p>
            </div>

	        <div class="pull-right" id="profile-add-user">
				<a href="/#"><img src="img/add-user.png"></a>           
	        </div>                       
	    </div>

	    <div class="panel-body">
	        
	        <div class="col-xs-12" id="profile-info-details">
		        <div class="col-xs-4">
		        	<h5>Followers</h5>
		        	<span>124</span>
		        </div>
		        <div class="col-xs-4">
		        	<h5>Following</h5>
		        	<span>6</span>
		        </div>
		        <div class="col-xs-4">
		        	<h5>Tips</h5>
		        	<span>65</span>
		        </div>
	        </div>
	        
	        <div class="col-xs-12" id="profile-info-other-networks">
		        <div class="col-xs-3">
					<a href="/#"><img src="img/facebook.png"></a>
		        </div>
		        <div class="col-xs-3">
					<a href="/#"><img src="img/twitter.png"></a>
		        </div>
		        <div class="col-xs-3">
					<a href="/#"><img src="img/google+.png"></a>
		        </div>
		        <div class="col-xs-3">
					<a href="/#"><img src="img/linkedin.png"></a>
		        </div>
	        </div>


	    </div>
	</div> <!-- profile details -->


    <!-- profile stats -->
    <div class="panel panel-default profile-stats">
        <div class="panel-heading clearfix">

            <div class="panel-title"> <span class="glyphicon glyphicon-stats"></span> Estatisticas </div>

        </div>

        <div class="panel-body">
            
            <div class="col-xs-12" id="profile-info-details">
                <div class="col-xs-4">
                    <h5>ROI</h5>
                    <span>5.23%</span>
                </div>
                <div class="col-xs-4">
                    <h5>Streak</h5>
                    <span>6</span>
                </div>
                <div class="col-xs-4">
                    <h5>Win %</h5>
                    <span>20.5%</span>
                </div>
                <div class="col-xs-6">
                    <h5>Avg Win Odds</h5>
                    <span>1.26</span>
                </div>
                <div class="col-xs-6" id="profile-prefered-sports">
                    <h5>More tips on</h5>
                    <img src="img/football.png">
                    <span>Football</span>
                </div>
            </div>
        </div>
    </div> <!-- profile stats -->
</div> <!-- profile info details -->


<!-- posts -->
<div class="col-xs-12 col-sm-7 col-md-5 col-sm-push-4 col-md-push-3">
    <div class="feed-post panel panel-default col-md-12">
        <div class="panel-heading col-xs-12">
            <div class="col-xs-1 feed-post-tipster-image">
                <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
            </div>
            <h3 class="panel-title col-xs-8 col-lg-10">
                <p>João Almeida</p>
                <p class="small-text">2 min</p>
            </h3>
            
        </div>
        <div class="panel-body post-content">
            <div class="panel panel-default post-tips">
                <div class="panel-body">
                    <p class="post-tip-selection">1. Benfica<p>
                    <p class="post-tip-event">Belenenses vs Benfica<p>
                    <p class="post-tip-odd">1.51<p>
                </div>
            </div>
            <div class="panel panel-default post-tips">
                <div class="panel-body">
                    <p class="post-tip-selection">2. Rio Ave<p>
                    <p class="post-tip-event">Sporting vs Rio Ave<p>
                    <p class="post-tip-odd">2.35<p>
                </div>
            </div>
            <p class="tipster-comment">Benfica is very strong, they win.<br>Sporting is very weak, they lose for sure.<p>
        </div>

        <div class="panel-footer">
            <div class="row">
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-thumbs-up"></span></a>
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-comment"></span></a>
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-share"></span></a>
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-star-empty"></span></a>
            </div>
        </div>
    </div>


    <div class="feed-post panel panel-default col-md-12">
        <div class="panel-heading col-xs-12">
            <div class="col-xs-1 feed-post-tipster-image">
                <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
            </div>
            <h3 class="panel-title col-xs-8 col-lg-10">
                <p>João Almeida</p>
                <p class="small-text">12 min</p>
            </h3>
            
        </div>
        <div class="panel-body post-content">
            <div class="panel panel-default post-tips">
                <div class="panel-body">
                    <p class="post-tip-selection">1. Benfica<p>
                    <p class="post-tip-event">Belenenses vs Benfica<p>
                    <p class="post-tip-odd">1.51<p>
                </div>
            </div>
            <div class="panel panel-default post-tips">
                <div class="panel-body">
                    <p class="post-tip-selection">2. Rio Ave<p>
                    <p class="post-tip-event">Sporting vs Rio Ave<p>
                    <p class="post-tip-odd">2.35<p>
                </div>
            </div>
            <p class="tipster-comment">Benfica is very strong, they win.<br>Sporting is very weak, they lose for sure.<p>
        </div>

        <div class="panel-footer">
            <div class="row">
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-thumbs-up"></span></a>
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-comment"></span></a>
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-share"></span></a>
                <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-star-empty"></span></a>
            </div>
        </div>
    </div>
</div>



<!-- Trend bar -->
<div ng-include="'partials/trendBar.html'"></div>

