
<div class="row">

    <!-- profile info details -->
    <div id="profile-info" class="col-md-4">

        <!-- profile details -->
    	<div class="panel panel-default">
    	    <div class="panel-heading clearfix col-xs-12 media">

                <div class="profile-user-img media-left">
                    <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
                </div>
                <div class="media-body">
                	<p class="panel-title">João Almeida</p>
                </div>
                 
    	    </div>

    	    <div class="panel-body">
    	        
    	        <div class="col-xs-12" id="profile-info-details">
    		        <div class="col-xs-4">
    		        	<h5>Followers</h5>
    		        	<span>124</span>
    		        </div>
    		        <div class="col-xs-4">
    		        	<h5>Following</h5>
    		        	<span>6</span>
    		        </div>
    		        <div class="col-xs-4">
    		        	<h5>Tips</h5>
    		        	<span>65</span>
    		        </div>
    	        </div>
    	        
    	        <div class="col-xs-12" id="profile-info-other-networks">
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/facebook.png"></a>
    		        </div>
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/twitter.png"></a>
    		        </div>
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/google+.png"></a>
    		        </div>
    		        <div class="col-xs-3">
    					<a href="/#"><img src="img/linkedin.png"></a>
    		        </div>
    	        </div>


    	    </div>
    	</div> <!-- profile details -->


        <!-- profile stats -->
        <div class="panel panel-default profile-stats">
            <div class="panel-heading clearfix">

                <div class="panel-title"> <span class="glyphicon glyphicon-stats"></span> Estatisticas </div>

            </div>

            <div class="panel-body">
                
                <div class="col-xs-12" id="profile-info-details">
                    <div class="col-xs-4">
                        <h5>ROI</h5>
                        <span>5.23%</span>
                    </div>
                    <div class="col-xs-4">
                        <h5>Streak</h5>
                        <span>6</span>
                    </div>
                    <div class="col-xs-4">
                        <h5>Win %</h5>
                        <span>20.5%</span>
                    </div>
                    <div class="col-xs-6">
                        <h5>Avg Win Odds</h5>
                        <span>1.26</span>
                    </div>
                    <div class="col-xs-6" id="profile-prefered-sports">
                        <h5>More tips on</h5>
                        <img src="img/sports/football.png">
                        <span>Football</span>
                    </div>
                </div>
            </div>
        </div> <!-- profile stats -->

        <button type="button" class="btn btn-default btn-primary btn-block"><i class="fa fa-user-plus fa-fw"></i>Follow</button>
    </div> <!-- profile info details -->


    <!-- posts -->
    <div class="col-md-6 col-md-push-1">

        
        <!-- posts -->
        <div class="feed-post panel panel-default col-md-12">
            <div class="panel-heading col-xs-12 media">
                <div class="feed-post-tipster-image media-left">
                    <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
                </div>
                <h3 class="panel-title media-body">
                    <p>João Almeida</p>
                    <p class="small-text"><i class="fa fa-clock-o fa-fw"></i> 2 min</p>
                </h3>                
            </div>

            <div class="panel-body post-content">
                <div class="panel panel-default post-tips">
                    <div class="panel-body">
                        <p class="post-tip-selection">1. Benfica<p>
                        <p class="post-tip-event">Belenenses vs Benfica<p>
                        <p class="post-tip-odd">1.51<p>
                    </div>
                </div>
                <div class="panel panel-default post-tips">
                    <div class="panel-body">
                        <p class="post-tip-selection">2. Rio Ave<p>
                        <p class="post-tip-event">Sporting vs Rio Ave<p>
                        <p class="post-tip-odd">2.35<p>
                    </div>
                </div>
                <p class="tipster-comment">Benfica is very strong, they win.<br>Sporting is very weak, they lose for sure.<p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-thumbs-up"></span></a>
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-comment"></span></a>
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-share"></span></a>
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-star-empty"></span></a>
                </div>
            </div>
        </div>


        <div class="feed-post panel panel-default col-md-12">
            <div class="panel-heading col-xs-12 media">
                <div class="feed-post-tipster-image media-left">
                    <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
                </div>
                <h3 class="panel-title media-body">
                    <p>João Almeida</p>
                    <p class="small-text"><i class="fa fa-clock-o fa-fw"></i> 2 min</p>
                </h3>
                
            </div>
            <div class="panel-body post-content">
                <div class="panel panel-default post-tips">
                    <div class="panel-body">
                        <p class="post-tip-selection">1. Benfica<p>
                        <p class="post-tip-event">Belenenses vs Benfica<p>
                        <p class="post-tip-odd">1.51<p>
                    </div>
                </div>
                <div class="panel panel-default post-tips">
                    <div class="panel-body">
                        <p class="post-tip-selection">2. Rio Ave<p>
                        <p class="post-tip-event">Sporting vs Rio Ave<p>
                        <p class="post-tip-odd">2.35<p>
                    </div>
                </div>
                <p class="tipster-comment">Benfica is very strong, they win.<br>Sporting is very weak, they lose for sure.<p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-thumbs-up"></span></a>
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-comment"></span></a>
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-share"></span></a>
                    <a href="#" class="col-xs-3"><span class="col-xs-push-6 glyphicon glyphicon-star-empty"></span></a>
                </div>
            </div>
        </div>


        <div class="feed-post feed-post-to-buy panel panel-default col-md-12">
            <div class="panel-heading col-xs-12 media">
                <div class="feed-post-tipster-image media-left">
                    <a href="#"><img src="img/joaoalmeida.jpg" class="img-circle"></a>
                </div>
                <h3 class="panel-title media-body">
                    <p>João Almeida</p>
                    <p class="small-text"><i class="fa fa-clock-o fa-fw"></i> 2 min</p>
                </h3>
                
            </div>
            <div class="panel-body post-content">
                <div class="panel panel-default post-tips">
                    <div class="panel-body">
                        <p class="post-tip-selection">Numero de Seleções: 5<p>
                        <p class="post-tip-event">Odd total: 2.23<p>
                        <p class="post-tip-odd">Preço: 0.30€<p>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <a href="#" class="col-xs-6 col-sm-4"><span class="glyphicon glyphicon-shopping-cart"></span>Comprar tip</a>
                    <div class="col-xs-6 col-sm-8 buttons">
                        <a href="#" class=""><span class="glyphicon glyphicon-thumbs-up"></span></a>
                        <a href="#" class=""><span class="glyphicon glyphicon-comment"></span></a>
                        <a href="#" class=""><span class="glyphicon glyphicon-share"></span></a>
                        <a href="#" class=""><span class="glyphicon glyphicon-star-empty"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>