
<!-- Left Bar -->
<div id="sports-list-bar" class="left-bar col-xs-12 col-sm-4 col-md-3 col-lg-2 affix">
    <ul class="list-group affix">
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/football.png"> Futebol</a></li>

    	<ul class="list-group top-leagues-list-bar hidden-xs col-sm-12">
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/premierleague.jpg"> Premier League</a></li>
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/laliga.png"> La Liga</a></li>
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/bundesliga.png"> Bundesliga</a></li>
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/seriea.png"> Serie A</a></li>
    	</ul>

        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/handball.jpg"> Andebol</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/baseball.png"> Basebol</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/bike.png"> Ciclismo</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/golf.jpg"> Golfe</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/futsal.png"> Futsal</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/wheel.png"> Motor</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/snooker.jpg"> Snooker</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/tennis.png"> Tennis</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/volley.jpg"> Volley</a></li>
    </ul>
</div> <!-- Left Bar -->