
<div class="row">
    <!-- league tables -->
    <div class="league-tables col-lg-8">
        
        <ol class="breadcrumb">
            <li><a href="#/sports">Futebol</a></li>
            <li class="active">Premier League</li>
        </ol>

        <!-- day one table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading col-xs-12 no-padding-sides">
                <h3 class="panel-title col-xs-6">30 de Abril</h3>     
                <p class="panel-title col-xs-2 league-game-selection-type">1</p>    
                <p class="panel-title col-xs-2 league-game-selection-type">X</p>    
                <p class="panel-title col-xs-2 league-game-selection-type">2</p>           
            </div>

            <div class="panel-body">
                
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>14:00</small> Watford vs Aston Villa</a>
                    <a href="#/sports/premierleague" class="col-xs-2">1.64</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.80</a>
                    <a href="#/sports/premierleague" class="col-xs-2">5.40</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>14:00</small> West Brom vs West Ham</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.60</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.35</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.10</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>14:00</small> Stoke City vs Sunderland</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.55</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.25</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.80</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>14:00</small> Everton vs Bournemouth</a>
                    <a href="#/sports/premierleague" class="col-xs-2">1.90</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.65</a>
                    <a href="#/sports/premierleague" class="col-xs-2">4.00</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>14:00</small> Newcastle vs Crystal Palace</a>
                    <a href="#/sports/premierleague" class="col-xs-2">1.90</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.50</a>
                    <a href="#/sports/premierleague" class="col-xs-2">4.10</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>16:30</small> Arsenal vs Norwich</a>
                    <a href="#/sports/premierleague" class="col-xs-2">1.24</a>
                    <a href="#/sports/premierleague" class="col-xs-2">6.10</a>
                    <a href="#/sports/premierleague" class="col-xs-2">11.50</a>
                </div>
            </div>
        </div> <!-- day one table -->


        <!-- day two table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading col-xs-12 no-padding-sides">
                <h3 class="panel-title col-xs-6">1 de Maio</h3>     
                <p class="panel-title col-xs-2 league-game-selection-type">1</p>    
                <p class="panel-title col-xs-2 league-game-selection-type">X</p>    
                <p class="panel-title col-xs-2 league-game-selection-type">2</p>           
            </div>

            <div class="panel-body">
                
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>11:00</small> Swansea vs Liverpool</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.25</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.45</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.20</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>13:00</small> Man Utd vs Leicester</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.05</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.35</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.75</a>
                </div>
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>15:30</small> Southampton vs Man City</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.15</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.45</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.25</a>
                </div>
            </div>
        </div> <!-- day tow table -->


        <!-- day three table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading col-xs-12 no-padding-sides">
                <h3 class="panel-title col-xs-6">2 de Maio</h3>     
                <p class="panel-title col-xs-2 league-game-selection-type">1</p>    
                <p class="panel-title col-xs-2 league-game-selection-type">X</p>    
                <p class="panel-title col-xs-2 league-game-selection-type">2</p>           
            </div>

            <div class="panel-body">
                
                <div class="col-xs-12 league-game">
                    <a href="#/sports/premierleague" class="col-xs-6"><small>19:00</small> Chelsea vs Tottenham</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.05</a>
                    <a href="#/sports/premierleague" class="col-xs-2">3.45</a>
                    <a href="#/sports/premierleague" class="col-xs-2">2.25</a>
                </div>
            </div>
        </div> <!-- day three table -->

    </div> <!-- league tables -->


    <!-- right-sports-bar -->
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs">

        <!-- boletim -->
        <div id="bet-slip">
            <div class="panel panel-default bordered-panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Boletim</h3>  
                </div>

                <div class="panel-body empty-bet-slip">

                    <div class="panel panel-default bet-slip-single-bet">
                        <div class="panel-body">
                          <p>Faça uma seleção para criar o boletim</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div> <!-- boletim -->

        
        <!-- /.panel .chat-panel -->
        <div class="chat-panel panel panel-default bordered-panel-blue">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Tips on this event
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-check-circle fa-fw"></i> Available
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-times fa-fw"></i> Busy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw"></i> Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat" id="tips-on-this-events">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="img/joaoalmeida.jpg" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">João Almeida</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            
                            <div class="panel panel-default tip-on-this-event">
                                <p>Benfica</p>
                                <a href="#/sports"><p>Benfica vs Arouca</p></a>
                                <p>1.33</p>
                            </div>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Bhaumik Patel</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                            </div>
                            <p>
                                O Ronaldo está em duvida para o jogo. Esperem até mais proximo da hora do jogo para apostar.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="img/pauloteixeira.jpg" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Paulo Teixeira</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                            </div>
                            <div class="panel panel-default tip-on-this-event">
                                <p>Benfica</p>
                                <a href="#/sports"><p>Benfica vs Arouca</p></a>
                                <p>1.33</p>
                            </div>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Bhaumik Patel</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->

    </div> <!-- right-sports-bar -->

</div>



<script>
    $(document).ready(function(){
        $( "#tips-add-comment" ).focus(function() {
            $("#tips-add-comment").css('height', "70px");
            $("#add-comment-tips-on-this-event").addClass("in");
        });
    });
</script>