
<div class="row">
    <!-- league tables -->
    <div class="league-tables col-lg-8">
        
        <ol class="breadcrumb">
            <li class="active">Futebol</li>
        </ol>

        <!-- main leagues table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Ligas Principais</h3>            
            </div>

            <div class="panel-body">
                
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Premier League</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">La Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Bundesliga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Serie A</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Ligue 1</a>
            </div>
        </div> <!-- main leagues table -->

        <!-- international table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Internacional</h3>    
            </div>

            <div class="panel-body">
                
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Champions League</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Europa League</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Euro 2016</a>
            </div>
        </div> <!-- international table -->


        <!-- europa leagues table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Europa</h3>    
            </div>

            <div class="panel-body">
                
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Primeira Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Segunda Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League One</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League Two</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Turquia - Super Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Holanda - Eredivise</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Brasil - Serie A</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Escócia - Premiership</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Bélgica - Pro League</a>
            </div>
        </div> <!-- europa leagues table -->


        <!-- europa leagues table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Europa</h3>    
            </div>

            <div class="panel-body">
                
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Primeira Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Segunda Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League One</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League Two</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Escócia - Premiership</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Turquia - Super Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Holanda - Eredivise</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Turquia - Super Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Holanda - Eredivise</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Brasil - Serie A</a>
            </div>
        </div> <!-- europa leagues table -->


        <!-- europa leagues table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Europa</h3>    
            </div>

            <div class="panel-body">
                
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Primeira Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Segunda Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League One</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League Two</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Turquia - Super Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Holanda - Eredivise</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Brasil - Serie A</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Escócia - Premiership</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Bélgica - Pro League</a>
            </div>
        </div> <!-- europa leagues table -->


        <!-- europa leagues table -->
        <div class="panel panel-default bordered-panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Europa</h3>    
            </div>

            <div class="panel-body">
                
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Primeira Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Portugal - Segunda Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League One</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - League Two</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Inglaterra - Championship</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Turquia - Super Liga</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Holanda - Eredivise</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Brasil - Serie A</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Escócia - Premiership</a>
                <a href="#/sports/premierleague" class="col-xs-12 col-sm-6 col-lg-4">Bélgica - Pro League</a>
            </div>
        </div> <!-- europa leagues table -->    

    </div> <!-- league tables -->


    <!-- right-sports-bar -->
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs">

        <!-- boletim -->
        <div id="bet-slip">
            <div class="panel panel-default bordered-panel-blue">
                <div class="panel-heading">
                    <h3 class="panel-title">Boletim</h3>  
                </div>

                <div class="panel-body">

                    <div class="panel panel-default bet-slip-single-bet">
                        <div class="panel-body">
                          <p>1. Benfica <a href="#/sports" class="cross pull-right">x</a></p>
                          <p>Benfica vs Arouca</p>
                          <p>1.33</p>
                        </div>
                    </div>

                    <div class="panel panel-default bet-slip-single-bet">
                        <div class="panel-body">
                          <p>2. Benfica <a href="#/sports" class="cross pull-right">x</a></p>
                          <p>Benfica vs Arouca</p>
                          <p>1.33</p>
                        </div>
                    </div>

                    <p id="bet-slip-total-odd">Odd total: 2.6</p>

                    <p>Selling Price: <input type="text" class="form-control" id="inputEmail3" placeholder="0.0"> €</p>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="bet-slip-comment" placeholder="Add comment"></textarea>
                    </div>

                    <button type="button" class="btn btn-default btn-sm btn-block">Share</button>
                </div>
            </div> 
        </div> <!-- boletim -->


        <!-- /.panel .chat-panel -->
        <div class="chat-panel panel panel-default bordered-panel-blue">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Tips on this event
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-check-circle fa-fw"></i> Available
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-times fa-fw"></i> Busy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw"></i> Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat" id="tips-on-this-events">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="img/joaoalmeida.jpg" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">João Almeida</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                </small>
                            </div>
                            
                            <div class="panel panel-default tip-on-this-event">
                                <p>Benfica</p>
                                <a href="#/sports"><p>Benfica vs Arouca</p></a>
                                <p>1.33</p>
                            </div>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Bhaumik Patel</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                            </div>
                            <p>
                                O Ronaldo está em duvida para o jogo. Esperem até mais proximo da hora do jogo para apostar.
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="img/pauloteixeira.jpg" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Paulo Teixeira</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                            </div>
                            <div class="panel panel-default tip-on-this-event">
                                <p>Benfica</p>
                                <a href="#/sports"><p>Benfica vs Arouca</p></a>
                                <p>1.33</p>
                            </div>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Bhaumik Patel</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel .chat-panel -->

    </div> <!-- right-sports-bar -->
</div>


<script>
    $(document).ready(function(){
        $( "#tips-add-comment" ).focus(function() {
            $("#tips-add-comment").css('height', "70px");
            $("#add-comment-tips-on-this-event").addClass("in");
        });
    });
</script>