
<!-- Left Bar -->
<div id="sports-list-bar" class="left-bar col-xs-12 col-sm-3 col-lg-2 affix">
    <ul class="list-group affix">
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/football.png"> Futebol</a></li>

    	<ul class="list-group top-leagues-list-bar hidden-xs col-sm-12">
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/premierleague.jpg"> Premier League</a></li>
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/laliga.png"> La Liga</a></li>
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/bundesliga.png"> Bundesliga</a></li>
        	<li class="list-group-item"><a href="#/sports"><img src="img/sports/seriea.png"> Serie A</a></li>
    	</ul>

        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/handball.jpg"> Andebol</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/baseball.png"> Basebol</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/bike.png"> Ciclismo</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/golf.jpg"> Golfe</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/futsal.png"> Futsal</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/wheel.png"> Motor</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/snooker.jpg"> Snooker</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/tennis.png"> Tennis</a></li>
        <li class="list-group-item col-xs-4 col-sm-12"><a href="#/sports"><img src="img/sports/volley.jpg"> Volley</a></li>
    </ul>
</div> <!-- Left Bar -->


<!-- league tables -->
<div class="league-tables col-xs-12 col-sm-9 col-lg-6 col-sm-push-3 col-lg-push-2">
    
    <ol class="breadcrumb">
        <li><a href="#/sports">Futebol</a></li>
        <li class="active">Premier League</li>
    </ol>

    <!-- day one table -->
    <div class="panel panel-default">
        <div class="panel-heading col-xs-12">
            <h3 class="panel-title col-xs-6">30 de Abril</h3>     
            <p class="panel-title col-xs-2 league-game-selection-type">1</p>    
            <p class="panel-title col-xs-2 league-game-selection-type">X</p>    
            <p class="panel-title col-xs-2 league-game-selection-type">2</p>           
        </div>

        <div class="panel-body no-padding-sides">
            
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>14:00</span> Watford vs Aston Villa</a>
                <a href="#/sports/premierleague" class="col-xs-2">1.64</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.80</a>
                <a href="#/sports/premierleague" class="col-xs-2">5.40</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>14:00</span> West Brom vs West Ham</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.60</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.35</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.10</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>14:00</span> Stoke City vs Sunderland</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.55</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.25</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.80</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>14:00</span> Everton vs Bournemouth</a>
                <a href="#/sports/premierleague" class="col-xs-2">1.90</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.65</a>
                <a href="#/sports/premierleague" class="col-xs-2">4.00</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>14:00</span> Newcastle vs Crystal Palace</a>
                <a href="#/sports/premierleague" class="col-xs-2">1.90</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.50</a>
                <a href="#/sports/premierleague" class="col-xs-2">4.10</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>16:30</span> Arsenal vs Norwich</a>
                <a href="#/sports/premierleague" class="col-xs-2">1.24</a>
                <a href="#/sports/premierleague" class="col-xs-2">6.10</a>
                <a href="#/sports/premierleague" class="col-xs-2">11.50</a>
            </div>
        </div>
    </div> <!-- day one table -->


    <!-- day tow table -->
    <div class="panel panel-default">
        <div class="panel-heading col-xs-12">
            <h3 class="panel-title col-xs-6">1 de Maio</h3>     
            <p class="panel-title col-xs-2 league-game-selection-type">1</p>    
            <p class="panel-title col-xs-2 league-game-selection-type">X</p>    
            <p class="panel-title col-xs-2 league-game-selection-type">2</p>           
        </div>

        <div class="panel-body no-padding-sides">
            
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>11:00</span> Swansea vs Liverpool</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.25</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.45</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.20</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>13:00</span> Man Utd vs Leicester</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.05</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.35</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.75</a>
            </div>
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>15:30</span> Southampton vs Man City</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.15</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.45</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.25</a>
            </div>
        </div>
    </div> <!-- day tow table -->


    <!-- day three table -->
    <div class="panel panel-default">
        <div class="panel-heading col-xs-12">
            <h3 class="panel-title col-xs-6">2 de Maio</h3>     
            <p class="panel-title col-xs-2 league-game-selection-type">1</p>    
            <p class="panel-title col-xs-2 league-game-selection-type">X</p>    
            <p class="panel-title col-xs-2 league-game-selection-type">2</p>           
        </div>

        <div class="panel-body no-padding-sides">
            
            <div class="col-xs-12 league-game">
                <a href="#/sports/premierleague" class="col-xs-6"><span>19:00</span> Chelsea vs Tottenham</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.05</a>
                <a href="#/sports/premierleague" class="col-xs-2">3.45</a>
                <a href="#/sports/premierleague" class="col-xs-2">2.25</a>
            </div>
        </div>
    </div> <!-- day three table -->

</div> <!-- league tables -->


<!-- right-sports-bar -->
<div class="col-lg-3 col-lg-push-2 hidden-md hidden-sm hidden-xs">

    <!-- boletim -->
    <div id="bet-slip" class="league-tables">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Boletim</h3>  
            </div>

            <div class="panel-body">

                <div class="panel panel-default bet-slip-single-bet bet-slip-make-a-selection">
                    <div class="panel-body">
                      <p>Faça uma seleção para criar o boletim</p>
                    </div>
                </div>
            </div>
        </div> 
    </div> <!-- boletim -->

    

    <!-- Tips on this event -->
    <div id="tips-on-this-events" class="league-tables">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tips on this event</h3>  
            </div>

            <div id="tips-this-event-wrapper" class="panel-body">
                <div class="panel-body tip-on-this-event">
                    <div class="media">
                        <div class="media-left">
                            <a href="#/sports">
                                <img src="img/joaoalmeida.jpg" class="img-circle">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Joao Almeida</p>
                            <p>2 min</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <p>1. Benfica</p>
                        <a href="#/sports"><p>Benfica vs Arouca</p></a>
                        <p>1.33</p>
                    </div>
                </div>

                <div class="panel-body tip-on-this-event">
                    <div class="media">
                        <div class="media-left">
                            <a href="#/sports">
                                <img src="img/pauloteixeira.jpg" class="img-circle">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Paulo Teixeira</p>
                            <p>4 min</p>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <p>1. Benfica</p>
                        <a href="#/sports"><p>Benfica vs Arouca</p></a>
                        <p>1.33</p>
                    </div>
                </div>

                <div class="panel-body tip-on-this-event">
                    <div class="media">
                        <div class="media-left">
                            <a href="#/sports">
                                <img src="img/joaoalmeida.jpg" class="img-circle">
                            </a>
                        </div>
                        <div class="media-body">
                            <p>Joao Almeida</p>
                            <p>7 min</p>
                        </div>
                    </div>

                    <div class="panel panel-default tip-this-event-only-text">
                        <p>O Ronaldo está em duvida para o jogo. Esperem até mais proximo da hora do jogo para apostar.</p>
                    </div>
                </div>
            </div>


            <div id="add-comment-this-event" class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="1" id="tips-add-comment" placeholder="Add comment"></textarea>
                </div>
                <button id="add-comment-tips-on-this-event" type="button" class="btn btn-default btn-sm btn-block collapse">Add comment</button>
            </div>
        </div> 
    </div> <!-- Tips on this event -->

</div> <!-- right-sports-bar -->



<script>
    $(document).ready(function(){
        $( "#tips-add-comment" ).focus(function() {
            $("#tips-add-comment").css('height', "70px");
            $("#add-comment-tips-on-this-event").addClass("in");
        });
    });
</script>