html {
    /*background-color: #CCFFFF;*/
    /*background-color: #C4C4C4;*/
    cursor: default;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
    
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/*******************************************************************************
********************************* Navbar ***************************************
*******************************************************************************/

.navbar-default{
    background-color: #003056;
    color: #000000;
}

.navbar-default .navbar-toggle {
    position: absolute;
    left: -25px;
    margin-top: 0;
    padding-right: -50px;
}

#menu-toggle :hover{
    background-color: #004881;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 34px;
}
.navbar {
    min-height:35px !important;
    /*float: center;*/
    max-height:35px !important;
}


.navbar-nav {padding:0px 0;}

#userName :hover{
    background-color: #335978;
    cursor: pointer;
}

#userName a:visited{
    background-color: #003056;
}

#userName{
    position: relative;
    top: 0px;
}

#greenBar, #greenBar :hover  {
    background-color: #7FBA00;
    width: 3px;
}

.navbarImage img{
    background-color: #003056;
    width: 34px;
    height: 34px;
}

.navbarImage :hover{
    background-color: #335978;
    cursor: pointer;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
margin-top: 0;
}





/*******************************************************************************
********************************* Left Side Bar ********************************
*******************************************************************************/



#wrapper {
    margin-top: 21px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#wrapper.toggled {
    padding-left: 94px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 94px;
    width: 0;
    height: 100%;
    margin-left: -94px;
    overflow-y: auto;
    background: #004881;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 94px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -94px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 94px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    line-height: 200%;
    text-align: center;
    font-size: 0.95em;
}

.sidebar-nav :hover {
    background-color: #195A8E;
}

.sidebar-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #B5C3B8;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 94px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 94px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}




/*******************************************************************************
********************************* Right Side Bar *******************************
*******************************************************************************/


#notifications-wrapper {
    margin-top: 21px;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#notifications-wrapper.toggled {
    padding-right: 320px;
}

#right_sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 320px;
    width: 0;
    height: 100%;
    margin-right: -320px;
    overflow-y: auto;
    background: #003C6C;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#notifications-wrapper.toggled #right_sidebar-wrapper {
    width: 320px;
}

/* Sidebar Styles */

.right_sidebar-nav {
    position: absolute;
    top: 0;
    width: 320px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    line-height: 200%;
    text-align: center;
    font-size: 0.95em;
}

.right_sidebar-nav :hover {
    background-color: #195A8E;
}

.right_sidebar-nav li {
    margin: 10px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    background: #002A4B;
    border: 1px;
    border-style: solid;
    border-color: #3F79C3;
    text-align: left;
}


.right_sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #B5C3B8;
}


.right_sidebar-nav > li > div{
    margin-top: 2%;
    margin-bottom: 2%;
}

.right_sidebar-nav li div p{
    color: #B5C3B8;
    font-size: 20px;
    float: right;
    margin-right: 5%;
}

.right_sidebar-nav li div p:hover {
    color: black;
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=40);
    cursor: pointer;
}

@media(min-width:768px) {
    #notifications-wrapper {
    padding-right: 0;
    }

    #notifications-wrapper.toggled {
    padding-right: -320px;
    }

    #right_sidebar-wrapper {
    width: 0;
    }

    #notifications-wrapper.toggled #right_sidebar-wrapper {
    width: -320px;
    }
}

.right_sidebar-nav > .right-sidebar-brand {
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    background: #003C6C;
    border: none;
}

.right_sidebar-nav > .right-sidebar-brand a {
    cursor: default;
    color: white;
    background: #003C6C;
    margin-right: 5%;
}

.right_sidebar-nav > .right-sidebar-brand a:hover {
    background: #003C6C;
}
.right_sidebar-nav > .right-sidebar-brand:hover {
    background: #003C6C;
}


.closes{
    background: #003C6C;
    color: #B5C3B8;
    font-size: 30px;
    float: left;
    margin-left: 5%;
}

.closes:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=40);
    cursor: pointer;
    background: #003C6C;
}


/*********************************************************************
****************************** Notifications *************************
**********************************************************************/

.notification{
    min-height: 60px;
    line-height: 120%;
}

.notification img {
    float: left;
    margin-left: 2%;
    margin-right: 3%;
}

.notification div a{
    color: white;
}


/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Bet Slip <><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/


#bet-slip-wrapper {
    margin-top: 21px;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#bet-slip-wrapper.toggled {
    padding-right: 320px;
}

#bet-slip-wrapper.toggled #right_sidebar-wrapper {
    width: 320px;
}

@media(min-width:768px) {
    #bet-slip-wrapper {
    padding-right: 0;
    }

    #bet-slip-wrapper.toggled {
    padding-right: -320px;
    }

    #right_sidebar-wrapper {
    width: 0;
    }

    #bet-slip-wrapper.toggled #right_sidebar-wrapper {
    width: -320px;
    }
}


.single-bet-slip{
    min-height: 60px;
    line-height: 120%;
}


.single-bet-slip > div > a {
    margin-left: 5%;
    color: #B5C3B8;
}

.single-bet-slip > div > a > b {
    color: white;
}

#bet-slip-wrapper button{
    font-size: 100%;
    background-color: #006ABD;
}

#bet-slip-wrapper p{
    color: #B5C3B8;
}

#totalOdd{
    background: #003C6C;
    cursor: default;
}



/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Profile Slide <><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/


#profile-slide-wrapper {
    padding-right: 180px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}


#profile-slide-wrapper #right_sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 83px;
    width: 180px;
    height: 100%;
    margin-right: -94px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: none;
}

/* Sidebar Styles */

#profile-slide-wrapper .right_sidebar-nav {
    position: absolute;
    width: 100%;
    margin-top: 15px;
    font-size: 1em;
}

/*#profile-slide-wrapper .right_sidebar-nav :hover {
    background: none;
    border-left: 2px;
}*/

#profile-slide-wrapper .right_sidebar-nav :hover {
    background-color: #195A8E;
}

#profile-slide-wrapper .right_sidebar-nav li {
    cursor: pointer;
    background: #002A4B;
    border: 1px;
    border-style: solid;
    border-color: #3F79C3;
    /*border-color: #92B4DE;*/
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0.5px;
    min-height: 40px;
}


#profile-slide-wrapper .right_sidebar-nav li a {
    display: block;
    text-decoration: none;
    margin-top: 2px;
    color: white;
}

#profile-slide-wrapper .right_sidebar-nav li img {
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-top: 9px;
    margin-right: 10px;
}



/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Feed <><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/


.panel{
    background: transparent;
    border-color: transparent;
}

#feed-container{
    padding-top: 30px;
}

#feed-post-container{
}

.panel-default > .panel-heading {
    color: #B5C3B8;
    background: #003C6C;
    border-right-style: solid;
    border-right-width: 0px;
    border-color: #C4C4C4;
    margin-top: 35px;

    border-top-left-radius: 5px;
}

.tipster_post > .btn-group-horizontal{
    position: absolute;
    right: 19px;
    top: 36px;
}

.tipster_post > .btn-group-horizontal > .btn{
    margin-right: -3px;
    background: rgba(0,42,75,0.4);
    border-color: rgba(63,121,195,0.6);
    border-radius: 25px;
}

.tipster_post > .btn-group-horizontal > .btn :hover{
    margin-bottom: 1px;
}

.tipster_post > .btn-group-horizontal > .btn:focus{
    outline: 0 none;
}

.tipster_post_text {   
    position: relative;
    vertical-align:top;
    color: #B5C3B8;
    margin-left: 50px;
    margin-top: -40px;
}

.tipster_post_text :hover, .panel-default > .panel-heading img :hover{
    cursor: pointer;
}

.tipster_post_text_hour{
    font-size: 80%;
}

.tipster_post_text_name{
    font-size: 100%;
    color: white;
}


.panel-default > .panel-body {
    color: black;
    background: #003C6C;
}

.post-event{
    margin-top: -1px;
}

.post-event div{
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-top: -15px;
    background: #002A4B;
    border: 1px;
    border-style: solid;
    border-color: #3F79C3;
}


.post-event p {
    color: #B5C3B8;
    margin-bottom: 0px;
}

.post-event b {
    color: white;
}

.post-event p:nth-child(2):hover{
    color: yellow;
    cursor: pointer;
}

/*******************************************************************************
********************************* Left Side Bar ********************************
*******************************************************************************/

.feed-right-news{
    border-radius: 5px;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    margin-bottom: 20px;
}
.feed-right-news:hover{
    background: #EDEDED;
}

.feed-right-news img:nth-child(1){
    height: 100%;
    width: 100%;
}

.feed-right-news img:nth-child(2){
    /*margin-left: 5px;
    height: 100%;
    width: 30%;*/
}

.feed-right-news h5{
    font-family: "Times New Roman", Georgia, Serif;
    position: relative;
    top: 0;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.feed-right-news-content p{
    line-height: 90%;
    font-size: 13px;
    padding-right: 5px;
}
.feed-right-news-content .avatar{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 34%;
    max-height: 52px; 
    float: left;
}
.feed-right-news-content .avatar img{
    max-height: 52px; 
    width: 100%;
}

.feed-right-news-content{
    /*overflow: auto*/
    max-height: 52px; 
    margin-left: -4px;
}

/*
.feed-right-news-content{
    background: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
}

.feed-right-news-content div{
    display: inline-block;
}

.feed-right-news-content .avatar{
    padding-left: 10px;
    padding-right: 10px;
    background: blue;
    height: 100%;
    width: 38%;
}

.feed-right-news-content .subtitle{
    background: yellow;
    height: 100%;
    width: 62%;
    padding-right: 0px;
}

.feed-right-news-content .subtitle h3{
    width: 100%;
}

.feed-right-news-content img{
    height: 100%;
    width: 100%;
}*/



/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Filters ><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/

.filters {
    margin-left: 6%;
    position: fixed;
    margin-top: 4%;
}

.filters .panel-heading{
    color: white;
    padding: 0px;
    padding-top: 1px;
    padding-left: 13px;
    background: rgba(0,60,108,0.7);
}

.filters .panel-body{
    margin-top: -20px;
    background: rgba(255,255,255,0.4);
    min-height: 400px;
    padding-top: 0px;
    display: inline-block;
}

.filters button{
    background: rgba(0,60,108,0.7);
    border: none;
}

#amount{
    margin-left: -9px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.custom-radio label:before {
    border-radius: 8px;
}
.custom-checkbox label {
    margin-bottom: 10px;
}
.custom-checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #003C6C;
    font-size: 30px;
    text-align: center;
    line-height: 10px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #003C6C;
    text-align: center;
    line-height: 15px;
}


/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Rankings <><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/

.table-responsive  {
    margin-top: 5%;
    /*margin-left: 3%;*/
}

.table-responsive table {
    /*table-layout: fixed;*/
    text-align: center;
}

.table-responsive thead{
    color: white;
    background-color: #002A4B;
}

.table-responsive thead th{
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    text-align: center;
}

.table-responsive tbody td{
    background-color: white;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    text-align: center;
}

.table-responsive tbody td img{
    height: 50%;
    margin-right: 3%;
    margin-left: 5%;
}

.table-responsive tbody td.col-xs-2{
    text-align: left;
}

.table-responsive tbody td.col-xs-2:hover{
    cursor: pointer;
}

/*.table-responsive tbody tr:hover td{
    background-color: #70A4B5;
}
*/
.table-striped > tbody > tr:nth-child(2n+1) > td{
    background-color: white;
}

.table-striped > tbody > tr:nth-child(2n+1):hover > td,.table-responsive tbody tr:hover td{
    background-color: #E6E6E6;
}



.pagination{
    margin-left: 3%;
    margin-top: -1%;
}

.pagination li:hover{
    cursor: pointer;
}

.pagination li a{
    background-color: #002A4B;
    color: white;
}


.pagination li.active a{
    background-color: #005496;
}

.pagination li.active a:hover{
    background-color: #005496;
}

.pagination li.disabled a.disabled{
    background-color: #002A4B;
}

.pagination li.disabled a.disabled:hover{
    cursor: default;
}