html, body{
    /*background-color: #CCFFFF;*/
    background-color: #C4C4C4;
}


/*******************************************************************************
********************************* Navbar ***************************************
*******************************************************************************/

.navbar-default{
    background-color: #003056;
    color: #000000;
}

.navbar-default .navbar-toggle {
    position: absolute;
    left: -25px;
    margin-top: 0;
    padding-right: -50px;
}

#menu-toggle :hover{
    background-color: #004881;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 34px;
}
.navbar {
    min-height:35px !important;
    /*float: center;*/
    max-height:35px !important;
}


.navbar-nav {padding:0px 0;}

#userName :hover{
    background-color: #335978;
    cursor: pointer;
}

#userName{
    position: relative;
    top: 0px;
}

#greenBar, #greenBar :hover  {
    background-color: #7FBA00;
    width: 3px;
}

.navbarImage img{
    background-color: #003056;
    width: 34px;
    height: 34px;
}

.navbarImage :hover{
    background-color: #335978;
    cursor: pointer;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
margin-top: 0;
}





/*******************************************************************************
********************************* Left Side Bar ********************************
*******************************************************************************/



#wrapper {
    margin-top: 21px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#wrapper.toggled {
    padding-left: 94px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 94px;
    width: 0;
    height: 100%;
    margin-left: -94px;
    overflow-y: auto;
    background: #004881;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 94px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -94px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 94px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    line-height: 200%;
    text-align: center;
    font-size: 0.95em;
}

.sidebar-nav :hover {
    background-color: #195A8E;
}

.sidebar-nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #B5C3B8;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 94px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 94px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}




/*******************************************************************************
********************************* Right Side Bar *******************************
*******************************************************************************/


#notifications-wrapper {
    margin-top: 21px;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#notifications-wrapper.toggled {
    padding-right: 320px;
}

#right_sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 320px;
    width: 0;
    height: 100%;
    margin-right: -320px;
    overflow-y: auto;
    background: #003C6C;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#notifications-wrapper.toggled #right_sidebar-wrapper {
    width: 320px;
}

/* Sidebar Styles */

.right_sidebar-nav {
    position: absolute;
    top: 0;
    width: 320px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    line-height: 200%;
    text-align: center;
    font-size: 0.95em;
}

.right_sidebar-nav :hover {
    background-color: #195A8E;
}

.right_sidebar-nav li {
    margin: 10px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    background: #002A4B;
    border: 1px;
    border-style: solid;
    border-color: #3F79C3;
    text-align: left;
}


.right_sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #B5C3B8;
}


.right_sidebar-nav > li > div{
    margin-top: 2%;
    margin-bottom: 2%;
}

.right_sidebar-nav li div p{
    color: #B5C3B8;
    font-size: 20px;
    float: right;
    margin-right: 5%;
}

.right_sidebar-nav li div p:hover {
    color: black;
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=40);
    cursor: pointer;
}

@media(min-width:768px) {
    #notifications-wrapper {
    padding-right: 0;
    }

    #notifications-wrapper.toggled {
    padding-right: -320px;
    }

    #right_sidebar-wrapper {
    width: 0;
    }

    #notifications-wrapper.toggled #right_sidebar-wrapper {
    width: -320px;
    }
}

.right_sidebar-nav > .right-sidebar-brand {
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    background: #003C6C;
    border: none;
}

.right_sidebar-nav > .right-sidebar-brand a {
    cursor: default;
    color: white;
    background: #003C6C;
    margin-right: 5%;
}

.right_sidebar-nav > .right-sidebar-brand a:hover {
    background: #003C6C;
}
.right_sidebar-nav > .right-sidebar-brand:hover {
    background: #003C6C;
}


.closes{
    background: #003C6C;
    color: #B5C3B8;
    font-size: 30px;
    float: left;
    margin-left: 5%;
}

.closes:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=40);
    cursor: pointer;
    background: #003C6C;
}


/*********************************************************************
****************************** Notifications *************************
**********************************************************************/

.notification{
    min-height: 60px;
    line-height: 120%;
}

.notification img {
    float: left;
    margin-left: 2%;
    margin-right: 3%;
}

.notification div a{
    color: white;
}


/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Bet Slip <><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/


#bet-slip-wrapper {
    margin-top: 21px;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
}

#bet-slip-wrapper.toggled {
    padding-right: 320px;
}

#bet-slip-wrapper.toggled #right_sidebar-wrapper {
    width: 320px;
}

@media(min-width:768px) {
    #bet-slip-wrapper {
    padding-right: 0;
    }

    #bet-slip-wrapper.toggled {
    padding-right: -320px;
    }

    #right_sidebar-wrapper {
    width: 0;
    }

    #bet-slip-wrapper.toggled #right_sidebar-wrapper {
    width: -320px;
    }
}


.single-bet-slip{
    min-height: 60px;
    line-height: 120%;
}


.single-bet-slip > div > a {
    margin-left: 5%;
    color: #B5C3B8;
}

.single-bet-slip > div > a > b {
    color: white;
}

#bet-slip-wrapper button{
    font-size: 100%;
    background-color: #006ABD;
}

#bet-slip-wrapper p{
    color: #B5C3B8;
}

#totalOdd{
    background: #003C6C;
    cursor: default;
}

/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Feed <><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/


.panel{
    background: transparent;
    border-color: transparent;
}

#feed-container{
    padding-top: 50px;
}

#feed-post-container{
    margin-right: 7%;
}

.panel-default > .panel-heading {
    color: #B5C3B8;
    background-color: #002A4B;
    border-right-style: solid;
    border-right-width: 0px;
    border-color: #C4C4C4;
    margin-left: 2px;
    margin-right: 2px;
}

.post_right_panel{
    margin-left: -28px;
    margin-top: 1px;
}

.post_right_panel > .btn-group-vertical > .btn :hover{
    margin-bottom: 1px;
}

.tipster_post_text {   
    position: relative;
    vertical-align:top;
    color: #B5C3B8;
    margin-left: 50px;
    margin-top: -40px;
}

.tipster_post_text :hover, .panel-default > .panel-heading img :hover{
    cursor: pointer;
}

.tipster_post_text_hour{
    font-size: 80%;
}

.tipster_post_text_name{
    font-size: 100%;
    color: white;
}


.panel-default > .panel-body {
  color: white;
}

.post_event{
    background-color: #70A4B5;
    border-style: solid;
    border-width: 2px;
    border-color: #C4C4C4;
}

.post_seletion{
    background-color: #70A4B5;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 20px;
    border-color: #C4C4C4;
}
.post_odd{
    border-style: solid;
    border-width: 2px;
    border-color: #C4C4C4;
    background-color: #70A4B5;
    text-align: center;
}




/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><> Filters ><><><><><><><><><><><><><><><>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/

.filter-accordion{
    /*background-color:#002A4B;*/
    text-align:center;
    color:white;
    position: fixed;
    margin-left:2%;
}

.filter-accordion .panel-heading{
    color: white;
    margin-bottom: 4px;
    margin-right: 7px;
    margin-left: 0px;
}

.filter-accordion .panel-body{
    background-color: #00579C;
    padding: 7px;
}


.filter-accordion button{
    margin-top: 3px;
    border-right-style: solid;
    border-right-width: 8px;
    border-color: #C4C4C4; 
    font-size: 15px;
}

.filter-accordion select{
    color: black;
    background-color: #70A4B5;
    height: 35px;
    margin-top: -7px;
}

.filter-accordion .filter-select{
    background-color:transparent;
    border:none;
}

.filter-accordion .filter-input{
    background-color:transparent;
    border:none;
}

.filter-accordion select:hover{
    cursor: pointer;
    background-color: #88B2BF;
}

.filter-accordion option{
    background-color: #E1ECF0;
}

.filter-accordion option:hover{
    background-color: white;
}

.filter-accordion .panel-body input{
    height:35px; 
    background-color: #E1ECF0;
    border-width: 1px;
    border-color: #70A4B5;
    color: black;
    margin-top: -7px;
}














