

/**********************************
		Bottom chat
**********************************/

#bottom-chat{
	position:fixed;
	bottom:0;
	right: 0;
	z-index: 5000;
	
	width: 100%;
}

.chat-panel-message{
	width: 265px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 2px; 
	padding-right: 2px; 
}

.chat-panel-message .panel-group{
	margin-bottom: 0px;
}

.chat-panel-message .panel{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: none;
}


#bottom-chat .chat-panel-message:nth-child(1) { right: 0px !important;}
#bottom-chat .chat-panel-message:nth-child(2) { right: 269px !important;}
#bottom-chat .chat-panel-message:nth-child(3) { right: 538px !important;}
#bottom-chat .chat-panel-message:nth-child(4) { right: 807px !important;}
#bottom-chat .chat-panel-message:nth-child(5) { right: 1076px !important;}
#bottom-chat .chat-panel-message:nth-child(6) { right: 1345px !important;}


.chat-panel-message .panel-heading{
	padding: 0px;
	background-color: #2B2B2B;
}

.chat-panel-message .panel-heading .panel-title{
	font-size: 13px;
}

.chat-panel-message .panel-heading .panel-title a{
	color: white !important;
	font-weight: 600;
	padding: 8px 10px 8px 15px;
	width: 80%;
	display: inline-block;
	border-radius: 10px;
}

.chat-panel-message .panel-heading .panel-title i{
	color: white;
	padding: 4px 4px 4px 4px;
	margin-right: 5px;
	margin-top: 5px;
}

.chat-panel-message .panel-heading .panel-title i:hover{
	color: #2a88bd;
}

.chat-panel-message .ni.collapse {
	display: block;
	height: 280px !important;
}

.chat-panel-message .panel-heading:hover{
	cursor: pointer;
}

.chat-panel-message .panel-heading .pull-right{
	visibility: hidden;
}
.chat-panel-message .panel-heading:hover .pull-right{
	visibility: visible;
}



.chat-panel-message .form-group{
	margin-bottom: 0px;
}

.chat-panel-message textarea{
	border-radius: 0px;
	border-left: none; border-bottom: none; border-right: none;
	resize: none;
}

.chat-panel-message textarea.expand{
}
/* do not group these rules */
.chat-panel-message textarea::-webkit-input-placeholder {
    color: #DEDEDE;
    font-size: 13px;
}
.chat-panel-message textarea:-moz-placeholder {
    /* FF 4-18 */
    color: #DEDEDE;
    font-size: 13px;
}
.chat-panel-message textarea::-moz-placeholder {
    /* FF 19+ */
    color: #DEDEDE;
    font-size: 13px;
}
.chat-panel-message textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #DEDEDE;
    font-size: 13px;
}

.chat-panel-message .panel-body{
	overflow: auto;
	text-align: center;
}

.chat-panel-message:not(#hidden-messages) .panel-collapse{
	height: 280px;
}

.chat-panel-message .panel-collapse{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.160) 0px 6px 10px 0px;
}


.chat-panel-message .panel-body .chat-message span{
	font-size: 9px;
}

.chat-panel-message .panel-body .chat-message p{
	text-align: left;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	border-radius: 10px;
}

.chat-panel-message .panel-body .my-chat-message p{
	color: white;
	background-color: #2DC3E8;

	margin-left: 20px; 
	border-top-right-radius: 0px;
}

.chat-panel-message .panel-body .sender-chat-message p{
	background-color: #F0F0F0;

	margin-right: 10px; 
	border-top-left-radius: 0px;
}

.chat-panel-message .panel-body .sender-chat-message img{
	width: 30px;
	height: 30px;
}

.chat-panel-message .panel-body .sender-chat-message .media{
	margin-top: 0px;
}




#hidden-messages {
	width: 150px;
}
#hidden-messages .panel{
	border: none !important;
}

#hidden-messages .panel-heading {
	padding-top: 0px;
	width: 60px;
	float: right;
	border: 1px solid #DDDDDD;
	border-bottom: none;
}
#hidden-messages .panel-heading a{
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0px;
}

#hidden-messages .list-group{
	border: 1px solid #DDDDDD;
}

#hidden-messages .list-group .list-group-item:hover, #chat_msg_new_message .list-group .list-group-item:hover{
	background-color: #F0F0F0;
	cursor: pointer;
}


#chat_msg_new_message .panel-body {
	text-align: left !important;
}

#chat_msg_new_message .list-group .list-group-item{
	border-radius: 0px !important;
}

