

@media screen and (min-width: 992px) {
	#feed-page .feed-page-left{
		border-right: solid 1px rgb(221,221,221);
	}
}

@media screen and (min-width: 1200px) {
	#feed-page .feed-page-left{
		padding: 0 85px;
	}
}

.posts-container{
	float: left;
	width: 100%;
}

.feed-post{
	margin-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;
}


.feed-post .panel-heading{
	padding: 18px;
}

.feed-post .panel-heading .tipster-avatar{
	display: flex;
}

.feed-post .panel-heading .tipster-image-wrapper img{
    height: 40px;
	width: 40px;
    background-size: cover;
}

.feed-post .panel-title {
	margin-left: 7px;
}

.feed-post .panel-heading .tipster-name{
	font-size: 15px;
    font-weight: 600;
}

.feed-post .panel-heading .panel-title .post-date{
	color: #90949c;	
	font-size: 12px;
}

.feed-post  .tipster-info{
	display: flex;
	margin: 15px 0 0 0;
}

.feed-post  .tipster-info > *:not(:first-child) {
	padding-left: 10px;
}
.feed-post  .tipster-info > *:not(:last-child) {
	padding-right: 10px;
	border-right: solid 1px #E6E9EC;
}

.feed-post .tipster-info .feed-post-tipster-history button:not(:last-child){
	margin-right: 4px !important;
}

.feed-post  .tipster-info .ranking, .feed-post  .tipster-info .win-losses {
	display: flex;
}

.feed-post  .tipster-info img {
	height: 20px;
}


@media screen and (max-width: 345px) {
	.feed-post .tipster-info {
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.feed-post .tipster-info div:first-child{
	    flex: 100%;
	    border-right: none;
	    margin-bottom: 5px;
	}
	.feed-post .tipster-info div:nth-child(2){
	    padding-left: 0px;
	}

}

@media screen and (min-width: 768px) {
	.feed-post .panel-heading .tipster-info{
		float: right;
		margin-top: 7px;
	}

	.feed-post .panel-heading > *{
	    display: inline-flex !important;
	}
}




.feed-post .tip{
	position: relative;
	border-bottom: solid 1px #E6E9EC;
	padding: 3px 15px;
	overflow: hidden;
}


.feed-post .tip .tip-row{
	display: flex;
	font-size: 15px;
	padding: 3px 0;
}

.feed-post .tip .tip-row > *{
	display: inline-block; 
}

.feed-post .tip .tip-row .info{
	width: 80px;
	padding-right: 15px;
	text-align: right;
	font-weight: 600;
}

.feed-post .tip .tip-row .value{
	width: calc(100% - 80px);
}



.feed-post .tip .tip-row .value .event .team:first-child{
	margin-bottom: 5px;
}

.feed-post .tip .tip-row .value .event .team img{
	height: 23px;
	margin-right: 5px;
}


.feed-post .tip.tip-data{
	border-bottom: none;
}

.feed-post .tip.tip-data .tip-row .info{
	color: #c30000;
}


@media screen and (min-width: 768px) {
	.feed-post .tip .tip-row .value .event .team{
		display: inline-block;
		margin-bottom: 0px !important;
	}

	.feed-post .tip .tip-row .value .event .team img{
		margin: 0px 5px;
	}

	.feed-post .tip .tip-row .value .event .team:first-child img{
		float: right;
	}
}


.feed-post .tip .tip-status{

	position: absolute;
	top: 20px;
	right: -40px;
	width: 140px;

	font-size: 10px;	
	text-transform: uppercase;
	text-align: center;
	color: white;

    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.feed-post .tip .tip-status.won{
	background-color: #59AD00;
}
.feed-post .tip .tip-status.lost{
	background-color: #C60203;
}





.feed-post .panel-footer{
	background-color: transparent;
	margin: 0 15px;
}


.feed-post .panel-footer .footer-button{
	color: #777;
	font-size: 15px;
	font-weight: 600;

	margin-right: 30px;
    transition: color 500ms;
    display: inline-block;
}

.feed-post .panel-footer .footer-button:hover{
	cursor: pointer;
	color: #0084bf;
	text-decoration: underline !important;
}

.feed-post .panel-footer .footer-button i{
	color: #777;
	margin-right: 5px;
}

.feed-post .panel-footer .footer-button:hover i{
	color: #0084bf;
}









/** new post - Got any tips? */

#feed-new-post{
	margin-bottom: 50px;
	padding: 0px;
	background: #FAFAFA;
	/*background: #F2F2F2;*/
}

#feed-new-post textarea{
	overflow:hidden;
	border-radius:0px;
}

#feed-new-post .new-post-tipster-image{
	padding: 0px;
}

#feed-new-post .new-post-tipster-image img{
	width: 38px;
	height: 38px;
	margin-right: 5px;
	margin-top: 1px;
}

#new-post-button-wrapper{
	padding-top: 0px;
}

#feed-textarea{
	padding-top: 8px;
	border-radius: 5px;
	border-color: #D9D9D9;
    resize: none;
    height: 40px;
}

/***** post to buy a tip ****/


.post-to-buy-body button{
	color: #2DC3E8;
	border-color: #2DC3E8;
	background-color: white;
}

.post-to-buy-body button:hover{
	color: white;
	background-color: #2DC3E8;
}

.post-to-buy-body{
	margin-top: 5px;
}

/*************************************************
post-comment-box
*************************************************/


.feed-post .post-comment-box{
	border-top: solid 1px #B1B1B1;
    margin-bottom: 0;
    padding: 0px 15px 5px 15px;
}

.feed-post .post-comment-box .post-comment{
	display: flex;
	padding: 10px 15px 0px 15px;
}

.feed-post .post-comment-box .post-comment{
	border-bottom: solid 1px #E6E9EC;
}

.feed-post .post-comment-box .post-comment .tipster-image img{
	width: 30px;
	height: 30px;
	margin-top: 3px;
}

.feed-post .post-comment-box .post-comment .post-comment-body{
	padding-left: 10px;
}


.feed-post .post-comment-box .post-comment .tipster-name{
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
}

.feed-post .post-comment-box .post-comment .comment-date{
	font-size: 11px;
	display: inline-block;
}

.feed-post .post-comment-box .post-comment .comment{
	color: #828282;
}

.feed-post .post-comment-box .input-group{
	padding-top: 5px;
}

.feed-post .post-comment-box .button{
	padding: 4px 24px;
	border-color: #E6E9EC;
	border-left: none;
}






#feed-page .status-update textarea::-webkit-input-placeholder {
    color: rgb(79,79,135);
}
#feed-page .status-update textarea:-moz-placeholder {
    /* FF 4-18 */
    color: rgb(79,79,135);
}
#feed-page .status-update textarea::-moz-placeholder {
    /* FF 19+ */
    color: rgb(79,79,135);
}
#feed-page .status-update textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(79,79,135);
}

#feed-page .status-update i {
	color: rgb(115,115,115);
}

#feed-page .status-update .panel-body {
	display: flex;
	align-items: center;
}

#feed-page .status-update .panel-body i{
	width: 10%;
	text-align: right;
}

#feed-page .status-update .panel-body textarea{
	border: none;
	width: 90%;
	resize: none;
	font-size: 16px;
	outline: none;
}


#feed-page .status-update footer{
	border-top: solid 1px rgb(221,221,221);
	padding: 7px 0;
	text-align: right;
}

#feed-page .status-update .button{
	padding: 4px 24px;
	border-color: rgb(204,204,204);
}

#feed-page .status-update footer i{
	margin-right: 10px;
}