#home,
#home .col-xs-12 {
    padding-left: 0;
	padding-right: 0;
}

section.generic {
	margin-top: 15px; 
	margin-bottom: 15px; 
    padding: 0;
}

section.generic > header{
	border-top: 1px solid rgb(221,221,221);
    padding: 0;
}

section.generic > header > h1{
	display: inline-block;


	margin: -1px 0 0 0;
	border-top: 1px solid white; 
    
    padding: 0 25px 18px 25px;
	font-size: 26px;
	font-weight: 300;
	text-transform: uppercase;
}

section.generic.align-left > header > h1{
    padding: 0 25px 18px 0px;
}

section.generic > .body{
    padding: 0;
}

.slide-panel picture{
	min-height: 0px;
	height: 0px;
    padding-top: 56.25%;
    overflow: hidden;
}

.slide-panel picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    -webkit-filter: saturate(100%) brightness(60%) contrast(100%);
    filter: saturate(100%) brightness(60%) contrast(100%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.slide-panel:hover picture img {
    transform: scale(1.2) translate3d(0,0,0);
}

.slide-panel:hover .red-layer {
    top: 0;
}
.slide-panel:hover .black-layer {
    opacity: 0;
}

.slide-panel .black-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: 0.35;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.slide-panel .red-layer {
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    background-color: rgba(195, 0, 0, 0.6);
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
}

.slide-panel .league-name {
    position: absolute;
    width: 100%;
    padding: 0 2% 0 5%;
    top: 32%;
}

.slide-panel .league-name h2 {
	color: white;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
}


#home .slide-panel:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: white;
    top: 0px;
    right: 0px;
    z-index: 5;
}


.slide-panel .hover-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 56.25%;
}

#home section#trend-users a.slide-panel .hover-icon{
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#home section#trend-users a.slide-panel:hover .hover-icon{
    opacity: 1;
}

.slide-panel .hover-icon svg{
    position: absolute;
    top: 0px;
    left: 0px;
    fill: rgba(255,255,255,0);
    width: 100%;
    height: 100%;
    padding: 10%;
    -webkit-transition: fill .5s ease-in-out;
    -moz-transition: fill .5s ease-in-out;
    transition: fill .5s ease-in-out;
}

.slide-panel:hover .hover-icon svg{
    animation-name: scale-up-down;
    animation-duration: .3s;
}
#home section#live-streams a.slide-panel:hover .hover-icon svg{
    fill: rgba(255,255,255,0.2);
}
#home section#trend-users a.slide-panel:hover .hover-icon svg{
    fill: rgba(255,255,255,0.8);
}

@keyframes scale-up-down {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1);}
}

#home section.card-slide a.slide-panel picture img {
    -webkit-filter: none;
    filter: none;
    transform: none;
}

#home section.card-slide a.slide-panel picture {
    -webkit-filter: saturate(80%) brightness(60%) contrast(100%);
    filter: saturate(80%) brightness(60%) contrast(100%);
}


#home section.card-slide a.slide-panel .description{
    padding: 5px 5%;
    border: solid 1px rgba(0,0,0,0.1);
    border-top: none;
    border-right-width: 2px;
    border-bottom-width: 2px;
}

#home section.card-slide a.slide-panel .description p {
	color: #c30000;
	margin: 0;
}

#home section.card-slide a.slide-panel .description h3 {
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
	font-size: 20px;
}


#home section .buttons-slide{
    height: 0px;
    padding-top: 56.25%;
}

#home section .buttons-slide .inner-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.slick-arrow:before{
	content: none;
}

.slick-arrow{
    display: flex !important;
    align-items: center;
    z-index: 1;
    height: 100%;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;

}

.slick-disabled{
	opacity: 0;
}

.slick-next{
	right: 10px;
}
.slick-prev{
	left: 10px;
	top: 0px;
	transform: rotate(180deg);
}

.edge-button-path {
    fill: none;
    width: 17px;
    height: 32px;
    stroke: white;
    stroke-width: 2;
}




@media screen and (min-width: 1200px) {

	#home section#news-feed .posts-container{

		padding: 0 4%;

	}

}