#sports-page{

}

#sports-page .breadcrumb{
	background: transparent;
	padding: 0px;
	text-transform: uppercase;
	line-height: 14px;
	margin-left: 15px;
}

#sports-page .breadcrumb .logo{
	margin-right: 5px;
}



#sports-page .panel{
	border-width: 1px;

	padding-bottom: 0px;
	border-bottom-color: #CCCCCC;
}

@media screen and (min-width: 1200px) {
	#sports-page .sports-tables-container {
		padding: 0 30px;
		border-right: solid 1px rgb(221,221,221);
	}

	#sports-page .breadcrumb{
		margin-left: 30px;
	}
}

#sports-page .sports-tables-container .table thead,
#sports-page .panel .panel-heading{
	background-color: rgb(244,244,244);
}
#sports-page .panel .panel-heading{
	padding: 8px 0px;
}

#sports-page .sports-tables-container .table th,
#sports-page .panel .panel-heading .panel-title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: none;
	padding-left: 15px;
	padding-right: 15px;
}

#sports-page .sports-tables-container .table th{
	padding: 5px 15px 6px 15px;
}

#sports-page .sports-tables-container .panel-body{
	padding: 0px;
}

#sports-page .sports-tables-container .odds-table .panel-body{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
#sports-page .sports-tables-container .odds-table .panel-body:before{
    display: none;
}

#sports-page .sports-tables-container .table td,
#sports-page .sports-tables-container .panel-body a{
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 13px;
	font-weight: 600;

}

#sports-page .sports-tables-container .odds-table .panel-body a{
    width: 33.33%;
}

#sports-page .sports-tables-container .panel-body a:before{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    z-index: 2;
}
#sports-page .sports-tables-container .panel-body a:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 1px;
    height: 100%;
    background: #CCCCCC;
    z-index: 2;
}

#sports-page .sports-tables-container .flag-icon{
	margin-right: 9px;
}


#sports-page .sports-tables-container .table .match-hour{
	color: #c30000;
	padding-right: 5px;
	font-size: 12px;
}

#sports-page .highlighted,
#sports-page .odds-table a:hover,
#sports-page .sports-tables-container .table td:not(.empty-option):not(.match-name):not(.player-name):hover{
	background-color: #F0F0F0;
	cursor: pointer;
	color: #333 !important;
}

#sports-page .highlighted,
#sports-page .odds-table a,
#sports-page .sports-tables-container .table td:not(.empty-option):not(.match-name):not(.player-name){
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
}





#sports-page  .odds-table .table{
	border: none;
}

#sports-page .sports-tables-container .table tr td:not(:last-child){
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
}


#sports-page .odds-table a span{
	position: absolute;
	right: 7px;
	top: 6px;
}



#sports-page .odds-table .empty-option:hover{
	background-color: white;
	color: white;
	cursor: default;
}

#sports-page .empty-option{
	color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#sports-page .odds-table .empty-option:not(.bordered){
	border-color: transparent;
}

#sports-page .centered{
	text-align: center;
}


#sports-page .bigger{
	/*height: 50px;*/
}



@media screen and (min-width: 650px) {
	#sports-page .odds-table .table tr td{
		padding-right: 15px;
		padding-left: 15px;
	}

	#sports-page .table .player-name
	{
		padding-left: 15px;
	}
}




/**********************************
bet slip
**********************************/


@media screen and (min-width: 1200px) {
	.right-bar-container{
		padding: 0 60px;
	}
}

#bet-slip{
    margin-bottom: 30px;
    min-height: 140px;
}

#bet-slip .panel-body .post-tips,
#sports-page .tips-on-this-event .empty-chat .post-tips{ 
	border-left-color: rgb(50,50,50);
}

#bet-slip .bet-slip-actions,
#bet-slip .panel-body .bet-slip-tips-container .post-tips{ 
	overflow: hidden;
	max-height: 0px;
	margin: 0;
	opacity: 0;
}

#sports-page .tips-on-this-event .post-tips,
#bet-slip .panel-body .bet-slip-tips-container .post-tips.expanded{ 
	max-height: 1000px;
	opacity: 1;
	margin: 10px 0;
}

#bet-slip .panel-body .post-tips.expanded{ 
	margin: 10px 0;
}

#bet-slip .panel-body .post-tips.animating,
#bet-slip .bet-slip-actions{ 
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

#bet-slip .bet-slip-actions.expanded{ 
	max-height: 1000px;
	opacity: 1;
}


#sports-page .right-bar-container > * > *{
	padding-left: 0px;
	padding-right: 0px;
}

#sports-page .right-bar-container .panel-heading {
	border-bottom: solid 2px rgb(221,221,221); 
}

#sports-page .right-bar-container .panel-heading .panel-title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

#sports-page .tips-on-this-event .panel-body,
#bet-slip .panel-body{
	padding-bottom: 2px;
	padding-top: 7px;
}

#bet-slip .panel-body strong{
	font-weight: 600;
	color: black;
}

#bet-slip .panel-body input { 
	display: inline;
	width: 50px;
	margin-left: 5px;
}


#bet-slip .panel-body .post-tips .panel-body .cross{  
    font-size: 90%;
    color: #F47238 !important;
    font-weight: bold;
}

#bet-slip .panel-body .post-tips .panel-body .cross:hover{  
    cursor: pointer;
}


@keyframes right_sports_bar_empty_body {
    to {
		opacity: 1;
    }
}

.feed-post:first-child .inner-item{
  
}

#bet-slip .empty-bet-slip .panel,
#sports-page .tips-on-this-event .empty-chat .panel{  
	/* this section calls the dropHeader animation we defined above */
	animation-name: right_sports_bar_empty_body;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	opacity: 0;

}

#bet-slip .empty-bet-slip,
#sports-page .tips-on-this-event .empty-chat{  
    padding-top: 0px;
    padding-bottom: 0px;
}

#sports-page .tips-on-this-event .post-tips .panel-body,
#bet-slip .post-tips .panel-body{
	line-height: 100%;
}

#sports-page .tips-on-this-event .empty-chat .panel,
#bet-slip .empty-bet-slip .panel{  
    padding-top: 10px;
    padding-bottom: 7px;
}

#bet-slip .button-wrapper{
	width: 100%;
	text-align: center;
}



/**********************************
Tips on this game
**********************************/


#sports-page .tips-on-this-event .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sports-page .tips-on-this-event .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

#sports-page .tips-on-this-event .chat li.left .chat-body {
    margin-left: 60px;
}

#sports-page .tips-on-this-event .chat li.right .chat-body {
    margin-right: 60px;
}

#sports-page .tips-on-this-event .chat li .chat-body p {
    margin: 0;
}

#sports-page .tips-on-this-event .panel .slidedown .glyphicon,
#sports-page .tips-on-this-event .chat .glyphicon {
    margin-right: 5px;
}

#sports-page .tips-on-this-event .chat-panel .panel-body {
    height: 320px;
    overflow-y: scroll;
}

#sports-page .tips-on-this-event .chat-panel .small-chat{
    height: 130px;
    overflow-y: hidden;
}

#sports-page .tips-on-this-event #tips-on-this-events .chat-img img{ 
	margin-top: 5px;
    width: 50px;
    height: 50px;
}

#sports-page .tips-on-this-event #tips-on-this-events .post-tips { 
    padding-left: 10px;
}

#sports-page .tips-on-this-event .chat-panel .tips-container{
	margin-top: 5px;
}

#sports-page .tips-on-this-event .chat-panel .panel-body::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: transparent;
}

#sports-page .tips-on-this-event .chat-panel .panel-body::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#sports-page .tips-on-this-event .chat-panel .panel-body::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.0);
}

#sports-page .tips-on-this-event .panel-footer{
	border-top: none;
}

#sports-page .tips-on-this-event .button{
	padding: 4px 12px;
	margin-left: -1px;
}




#sports-page .sports-tables-container .football-table .panel {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


#sports-page .sports-tables-container .football-table .panel-heading {
	border: solid 1px rgb(221,221,221);
}

#sports-page .sports-tables-container .football-table a{
	display: flex;
	align-items: center;
	font-size: 14px;
}

#sports-page .sports-tables-container .football-table a:before,
#sports-page .sports-tables-container .football-table a:after {
	content: none;
}

#sports-page .sports-tables-container .football-table a{
	height: 40px;
}
#sports-page .sports-tables-container .football-table a .flag-icon{
	font-size: 20px;
}

#sports-page .sports-tables-container .football-table .panel:first-child a{
	height: 60px;
}
#sports-page .sports-tables-container .football-table .panel:first-child a .flag-icon{
	font-size: 30px;
}


@keyframes footbal-table-animation {
	100% {
	  	opacity: 1;
	}
}

#sports-page .sports-tables-container .football-table .panel .panel-body{
  	opacity: 0;
	animation-name: footbal-table-animation;
	animation-duration: 0.75s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;  
}