#sports-page .col-xs-12{
	padding-left: 0;
	padding-right: 0;
}

#sports-page .sports-tables-container{
	margin-bottom: 100px;
}

#sports-page .breadcrumb{
	background: transparent;
	padding: 0px;
	text-transform: uppercase;
	line-height: 14px;
}

#sports-page .breadcrumb .logo{
	margin-right: 5px;
}

#sports-page .loading-gif{
	margin-top: 50px;
}


#sports-page .panel{
	border-width: 1px;

	padding-bottom: 0px;
	border-bottom-color: #CCCCCC;
}


#sports-page .sports-tables-container .table thead,
#sports-page .panel .panel-heading{
	background-color: rgb(244,244,244);
}
#sports-page .panel .panel-heading{
	padding: 8px 0px;
}

#sports-page .sports-tables-container .table th,
#sports-page .panel .panel-heading .panel-title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: none;
	padding-left: 15px;
	padding-right: 15px;
}

#sports-page .sports-tables-container .table th{
	padding: 5px 15px 6px 15px;
}

#sports-page .sports-tables-container .panel-body{
	padding: 0px;
}

#sports-page .sports-tables-container .odds-table .panel-body{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
#sports-page .sports-tables-container .odds-table .panel-body:before{
    display: none;
}

#sports-page .sports-tables-container .table td,
#sports-page .sports-tables-container .panel-body a{
	padding: 8px;
	font-size: 13px;
	font-weight: 400;

}

#sports-page .sports-tables-container .odds-table .panel-body a{
    width: 33.33%;
}

#sports-page .sports-tables-container .panel-body a:before{
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #CCCCCC;
    z-index: 2;
}
#sports-page .sports-tables-container .panel-body a:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 1px;
    height: 100%;
    background: #CCCCCC;
    z-index: 2;
}

#sports-page .sports-tables-container .flag-icon{
	margin-right: 9px;
}


#sports-page .sports-tables-container .table .match-hour{
	color: #c30000;
	padding-right: 5px;
	font-size: 12px;
}

#sports-page .highlighted,
#sports-page .odds-table a:hover,
#sports-page .sports-tables-container .table td:not(.empty-option):not(.match-name):not(.player-name):hover{
	background-color: #F0F0F0;
	cursor: pointer;
	color: #333 !important;
}

#sports-page .highlighted,
#sports-page .odds-table a,
#sports-page .sports-tables-container .table td:not(.empty-option):not(.match-name):not(.player-name){
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
}


#sports-page .sports-tables-container > div {
	max-height: 0;
	opacity: 0;
	transition: opacity 750ms ease-in-out;
	overflow: hidden;
}

#sports-page .sports-tables-container > div.active {
	opacity: 1;
	max-height: none;
	min-height: 200px;
	margin-bottom: 50px;
}

#sports-page .square-list .square{
	padding: 0;
}

#sports-page .leagues .square-list .square{
	width: 50%;
    border: solid 1px rgb(221,221,221);
}

#sports-page .square-list .square .aspect-ratio{
    position: relative;
	padding-top: 56.25%;
    width: 100%;
    border-bottom: solid 1px rgb(221,221,221);
}

#sports-page .leagues .square-list .square .aspect-ratio{
    padding-top: 56.25%;
}

#sports-page .square-list .square .inner-item{
	position: absolute;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
}

#sports-page .square-list .square .inner-item div{
	position: relative;
    text-align: center;
}

#sports-page .square-list .square .inner-item svg{
	width: 50px;
    max-height: 50px;
    fill: white;
}

#sports-page .square-list .square .inner-item h2{
	text-transform: uppercase;
    font-size: 20px;
    color: white;
}

#sports-page .square-list .square .inner-item h2{
	font-size: 16px;
}

#sports-page .square-list .square .inner-item picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.2);
    transform: perspective(1000px) translateZ(0px);
    transition: filter 500ms ease-in-out, transform 500ms ease-in-out;
}

#sports-page .square-list .square.active .inner-item picture,
#sports-page .square-list .square .inner-item:hover picture{
    filter: brightness(0.5);
    transform: perspective(1000px) translateZ(50px);
}


#sports-page  .odds-table .table{
	border: none;
}

#sports-page .sports-tables-container .table tr td:not(:last-child){
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #CCCCCC;
}


#sports-page .odds-table a span{
	position: absolute;
	right: 7px;
	top: 6px;
}



#sports-page .odds-table .empty-option:hover{
	background-color: white;
	color: white;
	cursor: default;
}

#sports-page .empty-option{
	color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#sports-page .odds-table .empty-option:not(.bordered){
	border-color: transparent;
}

#sports-page .centered{
	text-align: center;
}


#sports-page .bigger{
	/*height: 50px;*/
}



@media screen and (min-width: 650px) {
	#sports-page .odds-table .table tr td{
		padding-right: 15px;
		padding-left: 15px;
	}

	#sports-page .table .player-name
	{
		padding-left: 15px;
	}
}




/**********************************
bet slip
**********************************/


@media screen and (min-width: 1200px) {
	.right-bar-container{
		padding: 0 50px;
	}
}

#sports-page .right-bar-container > section header h1{
	font-size: 18px;
}


.fixed-page-panel .icon{
	position: fixed;
	top: 40vh;
	right: 5vh;
    background-color: #c30000;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 100%;

    transform: scale(0);
    z-index: 1;

    transition: transform 500ms ease-in-out;
    cursor: pointer;
}

.fixed-page-panel.active .icon{
    transform: scale(1);
}

.fixed-page-panel svg{
	position: relative;
    fill: #fff;
    stroke: #fff;
    width: 100%;
    height: 100%;
}

.fixed-page-panel .icon .n{
    position: absolute;
    top: -5px;
    left: -5px;
    background: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scaleUpDown{
    -webkit-animation-name: scale-up-down; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 500ms; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: scale-up-down;
    animation-duration: 250ms;
    animation-iteration-count: 3;
}

@keyframes scale-up-down {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.2);}
    75%  {transform: scale(0.8);}
    100% {transform: scale(1);}
}

.fixed-page-panel .page-panel{
    position: fixed;
    top: 62px;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.9);
    overflow: auto;

    opacity: 0;

    transition: opacity 500ms ease-in-out;
}

.fixed-page-panel.open .page-panel{
    width: 100%;
    height: calc(100vh - 62px);
    padding-right: 8vw;
    padding-top: 5vh;
    opacity: 1;
}


.fixed-page-panel.open .page-panel > .panel-body{
    max-width: 100%;
    width: 400px;
    float: right;
	color: white;
}

.fixed-page-panel.open .page-panel > .panel-body .post-tips{
	background: rgba(0,0,0,0.5);
}

.fixed-page-panel.open .page-panel > .panel-body .post-tips a{
	color: white !important;
}
.fixed-page-panel.open .page-panel > .panel-body .post-tips a:hover{
	color: #c30000 !important;
}



#bet-slip .bet-slip-actions,
#bet-slip .panel-body .bet-slip-tips-container .post-tips{ 
	overflow: hidden;
	max-height: 0px;
	margin: 0;
	opacity: 0;
}


#sports-page .tips-on-this-event .post-tips,
#bet-slip .panel-body .bet-slip-tips-container .post-tips.expanded{ 
	max-height: 1000px;
	opacity: 1;
	margin: 10px 0;
}

#bet-slip .panel-body .post-tips.expanded{ 
	margin: 10px 0;
}

#bet-slip .panel-body .post-tips.animating,
#bet-slip .bet-slip-actions{ 
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

#bet-slip .bet-slip-actions.expanded{ 
	max-height: 1000px;
	opacity: 1;
}


#sports-page .right-bar-container > * > *{
	padding-left: 0px;
	padding-right: 0px;
}

#sports-page .right-bar-container .panel-heading {
	border-bottom: solid 2px rgb(221,221,221); 
}

#sports-page .right-bar-container .panel-heading .panel-title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

#sports-page .tips-on-this-event .panel-body,
#bet-slip .panel-body{
	padding-bottom: 2px;
	padding-top: 7px;
}


#bet-slip .panel-body input { 
	display: inline;
	width: 50px;
	margin-left: 5px;
    background: rgba(0,0,0,0.5);
}

#bet-slip .panel-body textarea.form-control{
    background: rgba(0,0,0,0.5);
}


#bet-slip .panel-body .post-tips .panel-body .cross{  
    font-size: 90%;
    color: #F47238 !important;
    font-weight: bold;
}

#bet-slip .panel-body .post-tips .panel-body .cross:hover{  
    cursor: pointer;
}


@keyframes right_sports_bar_empty_body {
    to {
		opacity: 1;
    }
}

.feed-post:first-child .inner-item{
  
}

#bet-slip .empty-bet-slip .panel,
#sports-page .tips-on-this-event .empty-chat .panel{  
	/* this section calls the dropHeader animation we defined above */
	animation-name: right_sports_bar_empty_body;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	opacity: 0;

}

#bet-slip .empty-bet-slip,
#sports-page .tips-on-this-event .empty-chat{  
    padding-top: 0px;
    padding-bottom: 0px;
}

#sports-page .tips-on-this-event .post-tips .panel-body,
#bet-slip .post-tips .panel-body{
	line-height: 100%;
}

#sports-page .tips-on-this-event .empty-chat .panel,
#bet-slip .empty-bet-slip .panel{  
    padding-top: 10px;
    padding-bottom: 7px;
}

#bet-slip .button-wrapper{
	width: 100%;
	text-align: center;
}



/**********************************
Tips on this game
**********************************/


#sports-page .tips-on-this-event .loading-gif{
	margin-top: 20px;
}

#sports-page .tips-on-this-event .uil-facebook-css {
	width: 100%;
  -webkit-transform:scale(0.2);
}

#sports-page .tips-on-this-event .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sports-page .tips-on-this-event .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
	padding: 0;	
	transition: opacity 0.5s;
	opacity: 1;
}

#sports-page .tips-on-this-event .chat li.invisible {
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-bottom: 0px;
}

#sports-page .tips-on-this-event .chat li header a{
    display: flex;
    align-items: center;
}
#sports-page .tips-on-this-event .chat li > *{
	padding: 0;	
}

#sports-page .tips-on-this-event .chat li.left .chat-body {
    margin-left: 60px;
}

#sports-page .tips-on-this-event .chat li.right .chat-body {
    margin-right: 60px;
}

#sports-page .tips-on-this-event .chat li .chat-body p {
    margin: 0;
}

#sports-page .tips-on-this-event .panel .slidedown .glyphicon,
#sports-page .tips-on-this-event .chat .glyphicon {
    margin-right: 5px;
}

#sports-page .tips-on-this-event .chat-panel .panel-body {
    height: 320px;
    overflow-y: scroll;
}

#sports-page .tips-on-this-event .chat-panel .small-chat{
    height: 130px;
    overflow-y: hidden;
}

#sports-page .tips-on-this-event #tips-on-this-events h5{ 
    margin-left: 5px;
    text-transform: uppercase;
}

#sports-page .tips-on-this-event #tips-on-this-events img{ 
    width: 30px;
    height: 30px;
}

#sports-page .tips-on-this-event #tips-on-this-events .post-tips { 
    padding-left: 10px;
}

#sports-page .tips-on-this-event .chat-panel .tips-container{
	margin-top: 5px;
}

#sports-page .tips-on-this-event .chat-panel .panel-body::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: transparent;
}

#sports-page .tips-on-this-event .chat-panel .panel-body::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#sports-page .tips-on-this-event .chat-panel .panel-body::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.0);
}

#sports-page .tips-on-this-event .panel-footer{
	border-top: none;
}

#sports-page .tips-on-this-event .button{
	padding: 4px 12px;
	margin-left: -1px;
}




#sports-page .sports-tables-container .main-leagues .body > * > *,
#sports-page .sports-tables-container .main-leagues {
	padding: 0px;
}
#sports-page .sports-tables-container .main-leagues .body > * {
	padding: 1px 1px 0 0;
}

#sports-page .sports-tables-container .main-leagues {
	margin-bottom: 30px;
}


#sports-page .sports-tables-container .sports-page-tables {
	float: left;
}

#sports-page .sports-tables-container .sports-page-tables .panel {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


#sports-page .sports-tables-container .sports-page-tables .panel-heading {
	display: none;
    border-top: solid 1px rgb(221,221,221);
    border-bottom: none;
    padding: 0px;
    background-color: white;
}

#sports-page .sports-tables-container .sports-page-tables a{
	display: flex;
	align-items: center;
	font-size: 14px;
}

#sports-page .sports-tables-container .sports-page-tables .panel-heading .panel-title{
    padding: 0px 25px 25px 0;
    display: inline-block;
    font-weight: 300;
    font-size: 26px;
    border-top: 1px solid white;
    margin-top: -1px;
}


#sports-page .sports-tables-container .sports-page-tables a:before,
#sports-page .sports-tables-container .sports-page-tables a:after {
	content: none;
}

#sports-page .sports-tables-container .sports-page-tables a{
	height: 40px;
}
#sports-page .sports-tables-container .sports-page-tables a .flag-icon{
	font-size: 20px;
}

#sports-page .sports-tables-container .sports-page-tables .panel:first-child a{
	/*height: 60px;*/
}
#sports-page .sports-tables-container .sports-page-tables .panel:first-child a .flag-icon{
	/*font-size: 30px;*/
}


@keyframes footbal-table-animation {
	100% {
	  	opacity: 1;
	}
}

#sports-page .sports-tables-container .sports-page-tables .panel .panel-body{
  	opacity: 0;
	animation-name: footbal-table-animation;
	animation-duration: 0.75s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;  
}


.go-up-button{
	position: fixed;
	bottom: 10vh;
	left: 5vh;
	width: 30px;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

	background-color: rgba(0,0,0,0.2);
	transition: background-color 500ms ease-in-out;
}

.go-up-button:hover{
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}

.go-up-button .arrow{
    transform: rotate(270deg);
    width: 50%;
    height: 50%;
    stroke: white;
}

.go-up-button:hover .arrow{
    -webkit-animation-name: up-and-down-arrow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 500ms; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: up-and-down-arrow;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}


@keyframes up-and-down-arrow {
    0%   {transform: translateY(0px) rotate(270deg);}
    25%  {transform: translateY(2px) rotate(270deg);}
    75%  {transform: translateY(-2px) rotate(270deg);}
    100% {transform: translateY(0px) rotate(270deg);}
}

@media(min-width:768px) {

	#sports-page .square-list .square{
		padding: 3%;
	}

	#sports-page .leagues .square-list .square{
	    width: 25%;
	    padding: 2px;
	    border: none;
	}

	#sports-page .square-list .square .aspect-ratio{
	    border: none;
	}

	#sports-page .square-list .square .aspect-ratio{
		padding-top: 100%;
	}

	#sports-page .square-list .square .inner-item svg{
		width: 80px;
	    max-height: 80px;
	}

	#sports-page .square-list .square .inner-item h2{
		font-size: 20px;
	}



	.fixed-page-panel .page-panel{
	    top: 89px;
	    height: calc(100vh - 89px);
	}

}


