@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("sb-admin-2.css");
@import url("//fonts.googleapis.com/css?family=Lato");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic");

/*************************************************
Html General Elements
*************************************************/

body{	
    background-color: #ffffff;
    font-family: Lato,"Helvetica Neue",Arial,Verdana,Tahoma,"Lucida Sans",FreeSans,"Lucida Sans Unicode","Luxi Sans",sans-serif;
}

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

/*a{
	color: #8EB7D4;
}

a i{
	color: #637BBF;
}

a:hover {
    color: #D9230F;
}*/

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 12px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 13px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.no-padding-sides{
	padding-left: 0px;
	padding-right: 0px;
}

.panel, .btn{
	border-radius: 0px;
}

.black{
	background-color: black;
}
.color-black{
	color: black !important;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.color-orange{
	color: orange !important;
}
.color-dark-red{
	color: #D90000 !important;
}
.blue{
	background-color: blue;
	color: blue;
}


/*************************************************
Nav bar user avatar
*************************************************/

.nav-bar-avatar {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	white-space: nowrap;
}

.nav-bar-avatar img{
	margin-top: -20px;
	width: 24px;
	height: 24px;
	padding: 1px;
}

.nav-bar-avatar .tipster-name-avatar{
	display: inline-block;
	padding-top: 10px;
	margin-left: 5px;
}

.nav-bar-avatar .tipster-name-avatar p:first-child{
	margin-bottom: -3px;
	color: #fff;
}

.nav-bar-avatar .tipster-name-avatar p:last-child{
	margin-bottom: 3px;
	font-size: 12px;
	color: #888888;
}

.nav-bar-avatar i{
	margin-top: 15px;
}


/*************************************************
Notifications dropdown
*************************************************/

@media screen and (max-width: 420px) {

	.dropdown > .dropdown-menu{
		position: fixed;
    	left:0px;
    	top:50px;
	}

}


.dropdown-menu{
    right: 0;
    left: auto;
}

.dropdown-notifications{
	width: 300px;
}

.dropdown-menu {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.dropdown-menu .dropdown-content-container{
	max-height: 300px;
	overflow: auto;
}


.dropdown-menu .dropdown-fixed-element a{
	color:#5B5B5C !important;
}

.dropdown-menu .dropdown-fixed-element i, .dropdown-menu#user-dropdown a i{
	color:#F47238 !important;
}

.dropdown-menu .dropdown-fixed-element:hover{
	cursor: pointer;
}

.dropdown-menu .dropdown-load-more {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.dropdown-menu .dropdown-load-more i{
	color: black !important;
}


.dropdown-menu#user-dropdown a{
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu#user-dropdown a i, .dropdown-menu#user-dropdown a{
	color:#5B5B5C !important;
}


/*******************************
trend-bar-item
********************************/

.affix{
	position: fixed;
    bottom: 0px !important;
    right: 0px !important;
}

@media screen and (min-width: 1200px) {
	.trend-bar-container{
		padding-right: 75px;
	}
}



.trend-bar-item{
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;
	margin-bottom: 35px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;

	/*box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px, rgba(0, 0, 0, 0.065) 0px 3px 5px 0px;*/
}

.trend-bar-item .panel-heading{
	color: #333
	background-color: white;
	padding-left: 20px;
}

.trend-bar-item .panel-heading small{
	margin-left: 3px;
	color: #3097d1;
	padding-top: 0px;
	font-weight: 500;
}

.trend-bar-item .panel-heading .small-text{
	color: #3097d1;
	padding-top: 3px;
	margin-left: 3px;
	font-weight: 500;
	font-size: 11px;
}

.trend-bar-item .panel-heading .panel-title {
	font-size: 14px;
	font-weight: 700;
	font-family: Lato,sans-serif;
}


.trend-bar-item .panel-heading .panel-title i {
	margin-right: 5px;
}

.trend-bar-item .panel-body{
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}



.trend-events-container{
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.trend-events-container .list-group-item{
	margin-top: 10px;
}

.trend-events-container .trend-event{
	border-color: #E5E6E9;
}

.trend-events-container .trend-event a{
	display:block;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
}

.trend-events-container .trend-event a:hover, .trend-events-container .trend-event a:hover .panel-footer{
	background-color: #FAFAFA;
}

.trend-events-container .trend-event .trend-event-team{
	font-weight: bold;
	color: #365899;
	font-size: 14px;
}

.trend-events-container .trend-event .trend-event-team img{
	width: 24px;
	height: 24px;
	margin-right: 8px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.trend-events-container .trend-event .panel-footer{
	padding: 0px;
	margin-bottom: 0px;
	padding-bottom: 3px;
	background-color: white;
	text-align: center;
}
.trend-events-container .trend-event .panel-footer span{
	font-size: 11px;
	color: #90949c;
}



.trend-bar-item .trend-user{
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.trend-bar-item .trend-user img{
	width: 40px;
    height: 40px;
}

.trend-bar-item .trend-user .panel-title{
	font-size: 14px;
}

.trend-bar-item .trend-user .panel-title a{
	color: #1e3948;
	font-weight: bold;
}

.trend-bar-item .small-text{
	font-size: 11px;
	color: #90949c;
}

.trend-bar-item .trend-user .small-text{
}

.trend-bar-item .trend-user button {
	padding-right: 2px;
	font-size: 12px;
	border-color: transparent;
	border-left-color: rgba(0,0,0,0.15);
}

.trend-bar-item .trend-user button i{
	color: #4B4F56;
}

.trend-bar-item .trend-user button:hover, .trend-bar-item .trend-user button:hover i {
	color: #2a88bd;
	background-color: white;
}


/*************************************************
Feed
*************************************************/


@media screen and (max-width: 768px) {
	.feed-container {
		padding-left: 2px;
		padding-right: 2px;
	}
	.post-content {
		padding-left: 0px;
		padding-right: 0px;
	}
	.tipster-comment{
		padding-left: 5px !important;
	}
}



.feed-post{
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;
	border-top-width: 2px;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border-top-color: #2DC3E8;

	margin-bottom: 40px;
	padding-left: 0px;
	padding-right: 0px;

	/*box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px, rgba(0, 0, 0, 0.065) 0px 3px 5px 0px;*/
}


.feed-post a { 
    color: #636363;
}

.feed-post a small{ 
	color: #999999;
}

.feed-post a:hover{
	color: #D9230F;
}

.feed-post .post-content{
	color: #828282;
}

.feed-post .panel-heading{
	background-color: white;
	padding-top: 14px;
	padding-left: 26px;
	padding-bottom: 8px;
	border-bottom: none;
}

.feed-post .panel-heading a{
	padding-top: 0px;
	color: #337AB7;
	font-weight: 600;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.feed-post .panel-heading .panel-title p{
	color: #999999;	
	padding-top: 4px;
	font-size: 12px;
}

.feed-post img{
    height: 40px;
	width: 40px;
}

@media screen and (min-width: 768px) {
    .feed-post .feed-post-tipster-image {
        margin-left: 15px;
    }
}

.small-text{
	font-size: 10px;
}

.feed-post .panel-title{
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
	.feed-post  .feed-post-left-container div:first-child{
	}
	.feed-post  .feed-post-left-container{
		padding-bottom: 0px !important;
		padding-left: 20px !important;
	}

	.feed-post .feed-post-left-container .wrapper{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
}

@media screen and (min-width: 768px) {


	.feed-post .post-content{
		padding-left: 0px;
		padding-top: 0px;
		padding-bottom: 5px;
	}

	.feed-post  .feed-post-left-container .divider{
		height: 1px;
	}

	.feed-post .feed-post-left-container .wrapper{
		border-right-style: solid;
		border-right-width: 1px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.feed-post-right-container{
		padding-left: 0px;
	}
}

.feed-post  .feed-post-left-container{
	padding: 0px;
	padding-bottom: 10px;
	padding-right: 29px;
}

.feed-post .feed-post-left-container .wrapper{
	border-color: #2DC3E8;
	padding-left: 20px;
}

.feed-post  .feed-post-left-container p{
	color: #828282;
	font-size: 13px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.post-tips{
	background-color: #F7F7F7;
	border-color: #F7F7F7;

	border-left-width: 2px;
	border-left-color: #2DC3E8;
}

.post-tips, .post-tips a{
	color: #828282;
}

.post-tips .panel-body{
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 25px;
	line-height: 90%;
}

.feed-post .tipster-comment{
	padding-left: 3px;
	margin-top: -8px;
}

.feed-post .panel-footer{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
}

.feed-post .panel-footer a{
	text-align: center;
	color: rgba(51,51,51,0.8);
	padding-top: 6px;
	padding-bottom: 6px;
}

.feed-post .panel-footer a:hover{
	color: #F47238;
	cursor: pointer;
	background-color: rgba(235, 234, 230, 0.3);
}

.feed-post .panel-footer small{
	margin-left: 6px;
}

.feed-post .panel-footer a:first-child{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgba(26, 178, 172, 0.3);
}

.feed-post .feed-post-tipster-history{
	margin-top: -8px;
}

.feed-post .feed-post-tipster-history button{
	margin-left: 1px !important;
}

.popover-tipster-history div div{
	line-height: 90%;
	padding: 5px;
	padding-bottom: 0px;
}

.popover-tipster-history div{
	margin-bottom: 10px;
}

.popover-tipster-history div:last-child{
	margin-bottom: 2px;
}


/** new post - Got any tips? */

#feed-new-post{
	margin-bottom: 50px;
	padding: 0px;
	background: #FAFAFA;
	/*background: #F2F2F2;*/
}

#feed-new-post textarea{
	overflow:hidden;
	border-radius:0px;
}

#feed-new-post .new-post-tipster-image{
	padding: 0px;
}

#feed-new-post .new-post-tipster-image img{
	width: 38px;
	height: 38px;
	margin-right: 5px;
	margin-top: 1px;
}

#new-post-button-wrapper{
	padding-top: 0px;
}

#feed-textarea{
	padding-top: 8px;
	border-radius: 5px;
	border-color: #D9D9D9;
    resize: none;
    height: 40px;
}

/***** post to buy a tip ****/

.feed-post-to-buy, .feed-post-to-buy .panel-body, .feed-post-to-buy .panel-heading, .feed-post-to-buy .panel-footer{
	/*background-color: #F7FFF9;*/
}


.feed-post-to-buy .feed-post-right-container button{
	color: white;
	background-color: #2DC3E8;
}

.feed-post-to-buy .post-tips .panel-body{
	background-color: transparent;
}

.feed-post-to-buy .feed-post-right-container{
	margin-top: 25px;
}

/*************************************************
post-comment-box
*************************************************/

.feed-post{
	padding-bottom: 0px !important;}

.post-comment-box{
	background-color: #F7F7F7;
	color: #828282;

	border-right: none;
	border-left: none;
	border-bottom: none;
    margin-bottom: 0;

    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.post-comment-box a{
	color: #2DC3E8;
}

.post-comment-box a:hover{
	cursor: pointer;
}

.post-comment-box .media-body small{
	font-size: 70%;
}

.post-comment-box .media{
	margin-top: 0px;
}

.post-comment-box .input-group{
	padding-top: 5px;
}

.post-comment-box .media-left{
	padding-top: 5px;
}

.post-comment-box img{
	width: 30px;
	height: 30px;
}

.post-comment-box button, .post-comment-box button:hover, .post-comment-box button:active, .post-comment-box button:visited{
	background-color: #F47238 !important;
	color: white !important;
	border-color: #F47238 !important;
}


/*************************************************
Profile
*************************************************/

/*********** Profile info */


#profile-container .main-avatar #topimage{
	height: 80px;
	width: 100%
}

#profile-container .main-avatar{
	background-color: white;
	margin-bottom: 30px;
}

#profile-container .main-avatar #profile-image-wrapper{
	position: absolute;
	height: 200px;
	width: 200px;
	top:0px;
	padding-top: 28px;
	padding-left: 35px;
}

#profile-container .main-avatar #profile-image-wrapper div{
	width: 106px;
	height: 106px;
	padding: 0px;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	border-color: rgba(234,222,222, 0.9);
}

#profile-container .main-avatar #profile-image-wrapper img{
	width: 100px;
	height: 100px;
    margin: 2px;
}

#profile-container .main-avatar #profile-name{
	color: white;
	font-size: 30px;
	font-weight: 500;

	position: absolute;
	top: 32px;
	left: 175px;
}

#profile-container .main-avatar .container{
	padding-top: 13px;
	padding-bottom: 13px;
	width: 100%;

	background-color: #FBFBFB;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(234,222,222, 0.9);
}

#profile-container .main-avatar .container .btn-toolbar{
	float: right;
}

#profile-container .main-avatar .container .btn-toolbar button{
	margin-right: 20px;
	width: 150px;
}

#profile-container .main-avatar .container .btn-toolbar button, #profile-container .main-avatar .container .btn-toolbar button:active, #profile-container .main-avatar .container .btn-toolbar button:visited {
    outline: 0;
    border: none;
}



@media (max-width: 798px) {
	#profile-container .main-avatar .container .btn-toolbar button{
		width: 120px;
	}
}
@media (max-width: 520px) {
    #profile-container .main-avatar .container .btn-toolbar button{
		width: 60px;
    }
	#profile-container .main-avatar #topimage {
		content:url("../img/stadium.png");
		/*width: 120%;*/
	}
}
@media (max-width: 400px) {
    #profile-container .main-avatar .container .btn-toolbar button{
		width: 55px;
		margin-right: 10px;
    }
	#profile-container .main-avatar #profile-image-wrapper{
		padding-left: 10px;
	}
	#profile-container .main-avatar #profile-name{
		left: 110px;
		font-size: 25px;
	}
	#profile-container .main-avatar #profile-image-wrapper div{
		width: 80px;
		height: 80px;
	}
	#profile-container .main-avatar #profile-image-wrapper img{
		width: 74px;
		height: 74px;
	}
}


.trend-bar-item .panel-heading .panel-title {
	font-size: 14px;
	font-weight: 700;
	font-family: Lato,sans-serif;
}


#profile-container .profile-panel{
	border: solid  1px #D3E0E9;
}

#profile-container .profile-panel .panel-heading{
	border-bottom-width: 2px;
	border-bottom-color: #2DC3E8;

	color: #333;
	padding-left: 20px;
}

#profile-container .profile-panel .panel-title {
	font-size: 14px;
	font-weight: 700;
	font-family: Lato,sans-serif;
}

#profile-container .profile-panel .description{
	color: #777;
}

#profile-container .profile-panel .about-table{
	padding-left: 0px;
}
#profile-container .profile-panel .about-table p{
	padding-left: 0px;
}


/** Followers/Following **/

#profile-container .nav-tabs .active a{
	border-radius: 0px;
}

#profile-container .nav-tabs .active a{
	border-top-color: #2DC3E8;
	border-top-width: 2px;
}

#profile-container .nav-tabs .active:first-child a{
}

#profile-container .nav-tabs li:not(.active) a{
	background-color: #F9F9F9;
	border-color: #EDEBEB;
	color: #999;
	border-bottom: none;
}

#profile-container .nav-tabs li a, #profile-container .nav-tabs li a:active, #profile-container .nav-tabs li a:visited {
    outline: 0;
}

#profile-container .user-list-container{
	margin-bottom: 40px;
	background-color: white;
	padding: 10px;
	padding-right: 15px;
	border: solid  1px #D3E0E9;
	border-top: none;
}


#profile-container .user-list-container .img-wrapper{
	width: 84px;
	height: 84px;
}

#profile-container .user-list-container img{
	width: 80px;
	height: 80px;
	margin: 2px;
}

#profile-container .user-list-container .img-wrapper .caption{
	color: white;
	background-color: rgba(0,0,0, 0.3);

	position: absolute;
	top: 65px;
	left: 17px;
	padding-left: 3px;
	width: 80px;
	height: 15px;
	font-size: 12px;
}

#profile-container .user-list-container .img-wrapper .see-all-users{
	margin-top: 35px;
	margin-left: 10px;
	min-width: 70px;
	color: #F47238;
}
#profile-container .user-list-container .img-wrapper .see-all-users i{
    color: #F47238;
}

/*************************************************
Sports
*************************************************/

.sidebar img{
	height: 15px;
	width: 15px;
	margin-right: 4px;
}

.sidebar #sidebar-account-money img{
	height: 20px;
	width: 20px;
	margin-top: -4px;
}

.sidebar{
	overflow-y:auto;
}

.chat-panel .panel-body::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: transparent;
}

.sidebar::-webkit-scrollbar, .chat-panel .panel-body::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb, .chat-panel .panel-body::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.0);
}


/**********************************
league tables
**********************************/

@media screen and (min-width: 1200px) {
	.sports-table-container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.league-tables .panel{
	border-width: 1px;
	border-color: #D3E0E9;

	padding-bottom: 0px;
}

.league-tables .panel .panel-heading{
	color: #3097D1;
	background-color: #fafafa;
	border-bottom-color: #3097D1;
	border-bottom-width: 2px;
	padding-top: 9px;
	padding-bottom: 10px;
}

.league-tables .panel .panel-heading .panel-title{
	font-size: 14px;
	padding-left: 10px;
}

.league-tables .panel-body{
	padding: 0px;
}

.league-tables .panel-body a{
	padding-bottom: 5px;
	padding-top: 2px;
	color: #8B8C8E;
}

.league-tables .panel-body a:hover{
	color: #3097D1;
}

.league-tables .breadcrumb{
	background: #F5F5F5;
	margin-bottom: 0px;
}

.league-tables .league-game{
	padding-left: 0px;
	padding-right: 0px;
}

.league-tables .league-game a{
	text-align: center;
}

.league-tables .league-game a:first-child{
	text-align: left;
}

.league-tables .league-game a:hover,{
	color: #3097D1;
}

.league-tables .league-game-selection-type{
	text-align: center;
	font-size: 90%;
}

.league-tables .league-game a:not(:first-child):hover{
	background-color: rgba(48,151,209,0.1);
	cursor: pointer;
	color: #8B8C8E;
}

.league-tables small{
	color: #3097D1;
	padding-right: 5px;
}

.highlighted{
	background-color: rgba(48,151,209,0.1);
}

/**********************
Match odds tables
**********************/

.odds-table a:hover{
	background-color: rgba(48,151,209,0.1);
	cursor: pointer;
}

.odds-table a.empty-option:hover{
	background-color: white;
	color: white;
	cursor: default;
}

.odds-table a.empty-option{
	color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.odds-table a.empty-option:not(.bordered){
	border-color: transparent;
}

.centered{
	text-align: center;
}

.odds-table a{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	
	border-left-style: solid;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-color: rgba(48,151,209,0.1);
}

.odds-table a:last-child{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgba(48,151,209,0.1);
}


.odds-table a span{
	position: absolute;
	right: 7px;
	top: 6px;
}

.bigger{
	height: 50px;
}


.odds-table .table{
	padding-left: 0px;
	border: none !important;
}

.odds-table .table tr td:not(:last-child){
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgba(48,151,209,0.1);
}

@media screen and (min-width: 650px) {
	.odds-table .table tr td{
		padding-right: 15px;
		padding-left: 15px;
	}

	.table .player-name
	{
		padding-left: 15px;
	}
}

.sports-table-container .table{
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;
}

.sports-table-container .table thead th{
	border-bottom-color: #3097D1;
	border-bottom-width: 2px;
	color: #3097D1;
	background-color: #fafafa;
	font-weight: normal;
}

.sports-table-container .table td, .sports-table-container .table td a{
	color: #8B8C8E;
}

.sports-table-container .table td:hover{
	background-color: rgba(48,151,209,0.1);
	cursor: pointer;
}
.sports-table-container .table td.not-hovered:hover, .sports-table-container .table td.empty-option:hover, .sports-table-container .table .match-name:hover{
	background-color: white;
	cursor: default;
}
.sports-table-container .table .match-name:hover a{
	color: #3097D1;
}

.sports-table-container .table td.empty-option:hover{
	color: white;
}

.sports-table-container .table td.empty-option{
	color: white;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


/**********************************
bet slip
**********************************/


@media screen and (min-width: 1200px) {
	.right-sports-bar-container{
		padding-left: 40px;
		padding-right: 20px;
	}
}

.right-sports-bar-container .panel-heading{
	color: #8B8C8E;
	background-color: #ffffff;
	border-bottom: none;
	padding-top: 10px;
	padding-bottom: 10px;
}


#bet-slip {
	color: #8B8C8E;
}

#bet-slip .panel-heading h3{
	font-size: 14px;
}

#bet-slip .panel-body{
	padding-bottom: 2px;
	padding-top: 7px;
}

#bet-slip .panel-body input { 
	display: inline;
	width: 50px;
	margin-left: 5px;
}

#bet-slip .panel-body .post-tips{ 
	border-left-color: #F47238;
}

#bet-slip #bet-slip-total-odd{ 
    margin-top: -10px;
}

#bet-slip .panel-body .post-tips .panel-body .cross{  
    font-size: 90%;
    color: #F47238;
    font-weight: bold;
}

#bet-slip .panel-body .post-tips .panel-body .cross:hover{  
    cursor: pointer;
}


#bet-slip .empty-bet-slip{  
    margin-top: 7px;
    margin-bottom: 0px;
}

#bet-slip .post-tips .panel-body{
	line-height: 100%;
}

#bet-slip .empty-bet-slip .panel{  
    padding-top: 10px;
    padding-bottom: 7px;
}

#bet-slip button{
	background-color: #F47238;
	color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

/**********************************
Tips on this game
**********************************/

.chat-panel .panel-heading{	
}

#tips-on-this-events .chat-img img{ 
	margin-top: 5px;
    width: 50px;
    height: 50px;
}

#tips-on-this-events .post-tips { 
    padding-left: 10px;
}

.chat-panel .tips-container{
	margin-top: 5px;
}

.chat-panel button {
	background-color: #F47238;
}


/*****************************************
Buttons
*****************************************/

.my-sucess-button{
	color: white;
	border-color: #5CB85C;
	background-color: #5CB85C;
	min-width: 20px;
	min-height: 20px;
	padding: 2px;
	font-size: 60%;
	border-radius: 20% !important;
}

.my-sucess-button:hover{
	color: white;
	background-color: rgba(92, 184, 92, 0.8);
}

.my-fail-button{
	color: white;
	border-color: #F0433D;
	background-color: #F0433D;
	min-width: 20px;
	min-height: 20px;
	padding: 2px;
	font-size: 60%;
	border-radius: 20% !important;
}

.my-fail-button:hover{
	color: white;
	border-color: #F0433D;
	background-color: rgba(240, 67, 61, 0.8);
}


/*******************************************
		font-awesome badge
******************************************/

.font-awesome-badge {
  position: absolute;
  margin-top: -9px;
  right: 31px;
  display: inline;
  font-size: 11px;
  padding: 2px 4px 2px 4px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: white;
}

.badge-default {
  background-color: #999 !important;
}
.badge-primary {
  background-color: #dc6767 !important;
}
.badge-red {
  background-color: #bf4346 !important;
}
.badge-orange {
  background-color: #e9662c !important;
}
.badge-green {
  background-color: #5CB85C !important;
}
.badge-yellow {
  background-color: #f2994b !important;
}
.badge-blue {
  background-color: #0a819c !important;
}
.badge-violet {
  background-color: #9351ad !important;
}
.badge-pink {
  background-color: #bf3773 !important;
}
.badge-grey {
  background-color: #4b5d67 !important;
}
.badge-dark {
  background-color: #594857 !important;
}

.badge-success {
  background-color: #5cb85c;
  background-image: none !important;
}

.badge-warning {
  background-color: #f0ad4e;
  background-image: none !important;
}

.badge-danger {
  background-color: #d9534f;
  background-image: none !important;
}

.badge-info {
  background-color: #5bc0de;
  background-image: none !important;
}


/********************************************
 	navbar search
 ********************************************/

#search-dropdown{
 	background-color: red;
	overflow-y: hidden !important;
}

#search-dropdown .navbar-form{
 	margin: 0px !important;
 	padding: 0px !important;
 	width: 430px;
 	height: 50px;
}
#search-dropdown .navbar-form input{
 	height: 50px;
}


[role="search"] input{
	border-radius: 0px;
}

.navbar-form {
    overflow: auto;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%; 
    vertical-align: middle;
}
.navbar-form .form-group {
    display: inline;
}

 @media (max-width:767px) {
    .navbar-nav.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}



/****************** <Loading gif ( from http://cssload.net/)> *******************/

.cssload-container{
	position:absolute;
	top: 75px;
	margin-left: 50%; 
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 1249px;
		-o-border-radius: 1249px;
		-ms-border-radius: 1249px;
		-webkit-border-radius: 1249px;
		-moz-border-radius: 1249px;
}

.cssload-whirlpool {
	margin: -31px 0 0 -31px;
	height: 63px;
	width: 63px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -29px 0 0 -29px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -36px 0 0 -36px;
	height: 70px;
	width: 70px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}

/****************** </ Loading gif ( from http://cssload.net/)> *******************/



#notifications-page .notifications-header {
	border-bottom: solid 1px black;
}

#notifications-page #notifications-page-not-container{
	margin-top: 20px;
	padding: 0px;
	border: solid 1px #E5E5E5;
	background-color: black;
	margin-bottom: 20px;
}

.notifications-container {
	margin-bottom: 0px;
	padding-left: 0px;
}

.notifications-container li {
    float: none;
    display: block;
    background-color: white;
}

.notifications-container li a {
    padding: 3px 20px;
    min-height: 0;
}

.notifications-container li a div {
    white-space: normal;
}




.dropdown-menu .divider,
.notifications-container .divider{
	background-color: #E5E5E5;
	margin: 0px !important;
	height: 1px;
}

.notifications-container .highlighted .media{
	background-color: #EDF2FA;
}
.dropdown-menu .highlighted .media{
	background-color: #F7F7F7;
}

.dropdown-menu li .media,
.notifications-container li .media{
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu li .media:hover, .dropdown-menu .dropdown-load-more:hover,
.notifications-container li .media:hover, .dropdown-menu .dropdown-load-more:hover{
	cursor: pointer;
	background-color: #F9F9F9;
}

.dropdown-menu li .media .media-left,
.notifications-container li .media .media-left{
	padding-left: 10px;
	padding-right: 10px;
}
.dropdown-menu img,
.notifications-container img{
	width: 39px;
	height: 39px;
}

.dropdown-menu .media-body,
.notifications-container .media-body{
	color:#5B5B5C;
	font-size: 13px;
	padding-bottom: 0px;
	padding-top: 2px;
	overflow-y:
}

.dropdown-menu .dropdown-menu-item-time,
.notifications-container .dropdown-menu-item-time{
	color:#C0C2C4;
	font-size: 11px;
	margin-bottom: 0px;
	padding-right: 30px;
}


/**********************************
		Bottom chat
**********************************/

#bottom-chat{
	position:fixed;
	bottom:0;
	right: 0;
	z-index: 5000;
	
	height: 30px;
	width: 100%;
}

.chat-panel-message{
	width: 265px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 2px; 
	padding-right: 2px; 
}

.chat-panel-message .panel-group{
	margin-bottom: 0px;
}

.chat-panel-message .panel{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}


#bottom-chat .chat-panel-message:nth-child(1) { right: 0px !important;}
#bottom-chat .chat-panel-message:nth-child(2) { right: 269px !important;}
#bottom-chat .chat-panel-message:nth-child(3) { right: 538px !important;}
#bottom-chat .chat-panel-message:nth-child(4) { right: 807px !important;}
#bottom-chat .chat-panel-message:nth-child(5) { right: 1076px !important;}
#bottom-chat .chat-panel-message:nth-child(6) { right: 1345px !important;}


.chat-panel-message .panel-heading{
	padding: 0px;
	background-color: #F7F7F7;
}

.chat-panel-message .panel-heading .panel-title{
	font-size: 13px;
}

.chat-panel-message .panel-heading .panel-title a{
	color: #1e3948;
	font-weight: bold;
	padding: 8px 10px 8px 15px;
	width: 80%;
	display: inline-block;
	border-radius: 10px;
}

.chat-panel-message .panel-heading .panel-title i{
	color: #1e3948;
	padding: 4px 4px 4px 4px;
	margin-right: 5px;
	margin-top: 5px;
}

.chat-panel-message .panel-heading .panel-title i:hover{
	color: #2a88bd;
}

.chat-panel-message .ni.collapse {
	display: block;
	height: 240px !important;
}

.chat-panel-message .panel-heading:hover{
	cursor: pointer;
}

.chat-panel-message .panel-heading .pull-right{
	visibility: hidden;
}
.chat-panel-message .panel-heading:hover .pull-right{
	visibility: visible;
}



.chat-panel-message .form-group{
	margin-bottom: 0px;
}

.chat-panel-message textarea{
	border-radius: 0px;
	border-left: none; border-bottom: none; border-right: none;
	resize: none;
}

.chat-panel-message textarea.expand{
}
/* do not group these rules */
textarea::-webkit-input-placeholder {
    color: #DEDEDE !important;
    font-size: 13px;
}
textarea:-moz-placeholder {
    /* FF 4-18 */
    color: #DEDEDE !important;
    font-size: 13px;
}
textarea::-moz-placeholder {
    /* FF 19+ */
    color: #DEDEDE !important;
    font-size: 13px;
}
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #DEDEDE !important;
    font-size: 13px;
}

.chat-panel-message .panel-body{
	overflow: auto;
	text-align: center;
}

.chat-panel-message:not(#hidden-messages) .panel-collapse{
	height: 240px;
}

.chat-panel-message .panel-collapse{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.160) 0px 6px 10px 0px;
}


.chat-panel-message .panel-body .chat-message span{
	font-size: 9px;
}

.chat-panel-message .panel-body .chat-message p{
	text-align: left;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	border-radius: 10px;
}

.chat-panel-message .panel-body .my-chat-message p{
	color: white;
	background-color: #2DC3E8;

	margin-left: 20px; 
	border-top-right-radius: 0px;
}

.chat-panel-message .panel-body .sender-chat-message p{
	background-color: #F0F0F0;

	margin-right: 10px; 
	border-top-left-radius: 0px;
}

.chat-panel-message .panel-body .sender-chat-message img{
	width: 30px;
	height: 30px;
}

.chat-panel-message .panel-body .sender-chat-message .media{
	margin-top: 0px;
}




#hidden-messages {
	width: 150px;
}
#hidden-messages .panel{
	border: none !important;
}

#hidden-messages .panel-heading {
	padding-top: 0px;
	width: 60px;
	float: right;
	border: 1px solid #DDDDDD;
	border-bottom: none;
}
#hidden-messages .panel-heading a{
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0px;
}

#hidden-messages .list-group{
	border: 1px solid #DDDDDD;
}

#hidden-messages .list-group .list-group-item:hover, #chat_msg_new_message .list-group .list-group-item:hover{
	background-color: #F0F0F0;
	cursor: pointer;
}


#chat_msg_new_message .panel-body {
	text-align: left !important;
}

#chat_msg_new_message .list-group .list-group-item{
	border-radius: 0px !important;
}








/*************************************************
			Rankings
*************************************************/

#rankings table{
	background-color: white;
	border: solid 1px #D3E0E9;
	margin-bottom: 0px;
}

#rankings thead th:first-child{
	padding-left: 30px;
}

#rankings table img{
	width: 22px;
	height: 22px;
	padding: 1px;
	margin-right: 10px;
}


@media screen and (max-width: 767px) {
	#rankings table tbody th{
		margin-right: 20px;
		padding-right: 50px;
	}
}

#rankings table thead th:not(:first-child), #rankings table tbody td{
	text-align: center;
}

#rankings table tbody p{
	display: inline-block;
	margin: 0px;
	width: 20px;
}



#rankings .pagination{
	margin-left: 47%;
}

#rankings .page-item:hover{
	cursor: pointer;
}