
/*************************************************
Html General Elements
*************************************************/

body{	
    font-family: Lato,"Helvetica Neue",Arial,Verdana,Tahoma,"Lucida Sans",FreeSans,"Lucida Sans Unicode","Luxi Sans",sans-serif;
}

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

/*a{
	color: #8EB7D4;
}

a i{
	color: #637BBF;
}

a:hover {
    color: #D9230F;
}*/

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 12px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 13px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.no-padding-sides{
	padding-left: 0px;
	padding-right: 0px;
}

.panel, .btn{
	border-radius: 0px;
}

.black{
	background-color: black;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
	color: blue;
}


/*************************************************
Notifications dropdown
*************************************************/

@media screen and (max-width: 420px) {

	.dropdown > .dropdown-menu{
		position: fixed;
    	left:0px;
    	top:50px;
	}

}


.dropdown-menu{
    right: 0;
    left: auto;
}

.dropdown-notifications{
	width: 300px;
}

.dropdown-menu .divider{
	margin: 0px !important;
}

.dropdown-menu {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.dropdown-menu {
}

.dropdown-menu .dropdown-content-container{
	max-height: 300px;
	overflow: auto;
}

.dropdown-menu li .media{
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown-menu li .media:hover{
	cursor: pointer;
	background-color: #F9F9F9;
}

.dropdown-menu li .media .media-left{
	padding-left: 10px;
	padding-right: 10px;
}
.dropdown-menu img{
	width: 39px;
	height: 39px;
}

.dropdown-menu .media-body{
	color:#5B5B5C;
	font-size: 13px;
	padding-bottom: 0px;
	padding-top: 2px;
	overflow-y:
}

.dropdown-menu .dropdown-menu-item-time{
	color:#C0C2C4;
	font-size: 11px;
	margin-bottom: 0px;
	padding-right: 30px;
}

.dropdown-menu .dropdown-fixed-element a{
	color:#5B5B5C !important;
}

.dropdown-menu .dropdown-fixed-element i{
	color:#F47238 !important;;
}


/*******************************
trend-bar-item
********************************/

.affix{
	position: fixed;
    bottom: 0px !important;
    right: 0px !important;
}

@media screen and (min-width: 1200px) {
	.trend-bar-container{
		padding-right: 75px;
	}
}



.trend-bar-item{
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;

	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;
}

.trend-bar-item .panel-heading{
	color: #8B8C8E;
	background-color: white;
	border-bottom: none;
	padding-left: 20px;
}

.trend-bar-item .panel-heading .panel-title i {
	margin-right: 5px;
}

.trend-bar-item .panel-body{
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
	margin-bottom: -10px;
}

.trend-bar-item .panel-body .list-group li{
	border-color: transparent;
	padding-bottom: 2px;
	padding-top: 2px;
}

.trend-bar-item .panel-body .list-group li:first-child{
	padding-bottom: 0px;
}

.trend-bar-item .panel-body .list-group li a{
	color: #2DC3E8;
}

.trend-bar-item .panel-body .list-group li a:hover{
	color: #2DC3E8;
}


.trend-bar-item .trend-user{
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 15px;

	/*border-bottom-style: solid;*/
	/*border-bottom-width: 1px;*/
	/*border-color: rgba(234,222,222, 0.5);*/
}

@media screen and (max-width: 1200px) {
	.trend-bar-item .trend-user{
		padding-left: 10px;
		padding-right: 10px;
	}
}

.trend-bar-item .trend-user:hover{
	background: rgba(234,222,222, 0.5);
}

.trend-bar-item .trend-user a{
	color: #7F8B94;
}

.trend-bar-item .trend-user img{
	width: 40px;
    height: 40px;
}

.trend-bar-item .trend-user .panel-title{
	font-size: 100%;
	color: #8B8C8E;
}

.trend-bar-item .small-text{
	font-size: 11px;
	color: #F47238;
	margin-bottom: 0px;
}

.trend-bar-item .trend-user button {
	border-color: #2DC3E8;
}

.trend-bar-item .trend-user button i{
	color: #2DC3E8;
}

.trend-bar-item .panel-footer{
	background-color: white;
	border-top: none;
}

.trend-bar-item .panel-footer button{
	color: white;
	background-color: #2DC3E8;
}


/*************************************************
Feed
*************************************************/


@media screen and (max-width: 768px) {
	.feed-container {
		padding-left: 2px;
		padding-right: 2px;
	}
	.post-content {
		padding-left: 0px;
		padding-right: 0px;
	}
	.tipster-comment{
		padding-left: 5px !important;
	}
}



.feed-post{
	border-style: solid;
	border-width: 1px;
	border-color: #D3E0E9;

	border-top-width: 3px;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-top-color: #2DC3E8;

	padding-left: 0px;
	padding-right: 0px;
}


.feed-post a { 
    color: #636363;
}

.feed-post a small{ 
	color: #999999;
}

.feed-post a:hover{
	color: #D9230F;
}

.feed-post .post-content{
	color: #828282;
}

.feed-post .panel-heading{
	background-color: white;
	padding-top: 14px;
	padding-left: 26px;
	padding-bottom: 8px;
	border-bottom: none;
}

.feed-post .panel-heading a{
	padding-top: 0px;
	color: #337AB7;
	font-weight: 600;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.feed-post .panel-heading .panel-title p{
	color: #999999;	
	padding-top: 4px;
	font-size: 12px;
}

.feed-post .panel-footer{
	background-color: white;
}

.feed-post img{
    height: 40px;
	width: 40px;
}

@media screen and (min-width: 768px) {
    .feed-post .feed-post-tipster-image {
        margin-left: 15px;
    }
}

.small-text{
	font-size: 10px;
}

.feed-post .panel-title{
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
	.feed-post  .feed-post-left-container div:first-child{
	}
	.feed-post  .feed-post-left-container{
		padding-bottom: 0px !important;
		padding-left: 20px !important;
	}

	.feed-post .feed-post-left-container .wrapper{
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
}

@media screen and (min-width: 768px) {


	.feed-post .post-content{
		padding-left: 0px;
		padding-top: 0px;
		padding-bottom: 5px;
	}

	.feed-post  .feed-post-left-container .divider{
		height: 1px;
	}

	.feed-post .feed-post-left-container .wrapper{
		border-right-style: solid;
		border-right-width: 1px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.feed-post-right-container{
		padding-left: 0px;
	}
}

.feed-post  .feed-post-left-container{
	padding: 0px;
	padding-bottom: 10px;
	padding-right: 29px;
}

.feed-post .feed-post-left-container .wrapper{
	border-color: #2DC3E8;
	padding-left: 20px;
}

.feed-post  .feed-post-left-container p{
	color: #828282;
	font-size: 13px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.post-tips{
	background-color: #F7F7F7;
	border-color: #F7F7F7;

	border-left-width: 2px;
	border-left-color: #2DC3E8;
}

.post-tips, .post-tips a{
	color: #828282;
}

.post-tips .panel-body{
	padding-top: 6px;
	padding-bottom: 0px;
	padding-left: 25px;
	line-height: 90%;
}

.feed-post .tipster-comment{
	padding-left: 3px;
	margin-top: -8px;
}

.feed-post .panel-footer{
	padding-top: 0px;
	padding-bottom: 0px;
}

.feed-post .panel-footer a{
	text-align: center;
	color: #2DC3E8;
	padding-top: 6px;
	padding-bottom: 6px;
}

.feed-post .panel-footer a:hover{
	color: #F47238;
	cursor: pointer;
	background-color: rgba(235, 234, 230, 0.3);
}

.feed-post .panel-footer small{
	margin-left: 6px;
}

.feed-post .panel-footer a:first-child{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgba(26, 178, 172, 0.3);
}

.feed-post .feed-post-tipster-history{
	margin-top: -8px;
}

.feed-post .feed-post-tipster-history button{
	margin-left: 1px !important;
}

.popover-tipster-history div div{
	line-height: 90%;
	padding: 5px;
	padding-bottom: 0px;
}

.popover-tipster-history div{
	margin-bottom: 10px;
}

.popover-tipster-history div:last-child{
	margin-bottom: 2px;
}


/** new post - Got any tips? */

#feed-new-post{
	margin-bottom: 50px;
	padding: 0px;
	background: #FAFAFA;
	/*background: #F2F2F2;*/
}

#feed-new-post textarea{
	overflow:hidden;
	border-radius:0px;
}

#feed-new-post .new-post-tipster-image{
	padding: 0px;
}

#feed-new-post .new-post-tipster-image img{
	width: 38px;
	height: 38px;
	margin-right: 5px;
	margin-top: 1px;
}

#new-post-button-wrapper{
	padding-top: 0px;
}

#feed-textarea{
	padding-top: 8px;
	border-radius: 5px;
	border-color: #D9D9D9;
    resize: none;
    height: 40px;
}

/***** post to buy a tip ****/

.feed-post-to-buy, .feed-post-to-buy .panel-body, .feed-post-to-buy .panel-heading, .feed-post-to-buy .panel-footer{
	background-color: #F7FFF9;
}


.feed-post-to-buy .feed-post-right-container button{
	color: white;
	background-color: #2DC3E8;
}

.feed-post-to-buy .post-tips .panel-body{
	background-color: transparent;
}

.feed-post-to-buy .feed-post-right-container{
	margin-top: 25px;
}

/*************************************************
post-comment-box
*************************************************/

.feed-post{
	padding-bottom: 0px !important;}

.post-comment-box{
	background-color: #F7F7F7;
	color: #828282;

	border-right: none;
	border-left: none;
	border-bottom: none;
    margin-bottom: 0;
}

.post-comment-box a{
	color: #2DC3E8;
}

.post-comment-box a:hover{
	cursor: pointer;
}

.post-comment-box .media-body small{
	font-size: 70%;
}

.post-comment-box .media{
	margin-top: 0px;
}

.post-comment-box .input-group{
	padding-top: 5px;
}

.post-comment-box .media-left{
	padding-top: 5px;
}

.post-comment-box img{
	width: 30px;
	height: 30px;
}

.post-comment-box button, .post-comment-box button:hover, .post-comment-box button:active, .post-comment-box button:visited{
	background-color: #F47238 !important;
	color: white !important;
	border-color: #F47238 !important;
}


/*************************************************
Profile
*************************************************/

/*********** Profile info */

@media (max-width: 768px) {
    /*.affix {
	  position: static;
	  width: auto;
	  top: 0;
    }*/
}


#profile-info #profile-info-details .panel-footer{
	background-color: white;
	border-top-color: white;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

#profile-info #profile-info-details .panel-footer button i{
	color: #8B8C8E;
}

#profile-info #profile-info-details .panel-body {
	background-color: #ffffff;
}

#profile-info #profile-info-details,  #profile-info .profile-stats, #profile-info .profile-stats .panel-body div:first-child{
	padding-left: 0px;
	padding-right: 0px;
}


#profile-info #profile-info-details .panel-heading,  #profile-info .profile-stats .panel-heading{
	color: #8B8C8E;
	background-color: #ffffff;
	border-color: rgba(234,222,222, 0.5);
}


#profile-info .media-body{
	padding-left: 5px;
	padding-top: 12px;
}

#profile-info #profile-info-details .panel-heading p{
	color: #A5A8AF;
	font-size: 18px;
}

#profile-info .profile-user-img{
	width: 66px;
	height: 66px;
}

#profile-info .profile-user-img div{
	width: 66px;
	height: 66px;
	padding: 0px;
	margin: 0;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(234,222,222, 0.9);
}

#profile-info .profile-user-img img{
	width: 58px;
	height: 58px;
    margin: 3px;
}

#profile-info #profile-info-details .panel-body {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 15px;
}

#profile-info #profile-info-details .panel-body div{
	text-align: center;
	color: #8B8C8E;
	padding-top: 5px;
	line-height: 1.0;
}

#profile-info #profile-info-details .panel-body p{
	font-size: 20px;
	margin-bottom: 2px;
	margin-top: 10px;
}


#profile-info #profile-info-details .panel-body span{
	font-size: 12px;
}





#profile-info .profile-stats .panel-heading .panel-title{
	padding-top: 5px;
	padding-left: 10px;
	font-size: 105%;
}

#profile-info .profile-stats .panel-heading span{
	padding-right: 5px;
}

#profile-info .profile-stats #profile-prefered-sports img{
	width: 10px;
	height: 10px;
	margin-bottom: 2px;
}

#profile-info .profile-stats .panel-body div{
	text-align: center;
	color: #8B8C8E;
}

#profile-info .profile-stats .panel-body div h5{
	font-weight: bold;
}



#profile-posts-divider{
	height: 1px;
	/*background-color: #E0D7D7;*/
	margin-top: 10px;
	margin-bottom: 30px;
}

/*************************************************
Sports
*************************************************/

.sidebar img{
	height: 15px;
	width: 15px;
}

.sidebar #sidebar-account-money img{
	height: 20px;
	width: 20px;
	margin-top: -4px;
	margin-right: 4px;
}

.sidebar{
	overflow-y:auto;
}

.chat-panel .panel-body::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: transparent;
}

.sidebar::-webkit-scrollbar, .chat-panel .panel-body::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb, .chat-panel .panel-body::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.2);
}


/**********************************
league tables
**********************************/

@media screen and (min-width: 1200px) {
	.sports-table-container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.league-tables .panel{
	border-width: 1px;
	border-color: #D3E0E9;

	padding-bottom: 0px;
}

.league-tables .panel .panel-heading{
	color: #8B8C8E;
	background-color: #ffffff;
	border-bottom-color: rgba(234,222,222, 0.5);
}

.league-tables .panel .panel-heading .panel-title{
	font-size: 105%;
}


.league-tables .panel-heading{
	padding-top: 8px;
	padding-bottom: 5px;
}


.league-tables .panel-body{
	padding: 0px;
}

.league-tables .panel-body a{
	padding-bottom: 5px;
	padding-top: 2px;
	color: #A1ABBF;
}

.league-tables .breadcrumb{
	background: #F0F2F5;
	margin-bottom: 0px;
}

.league-tables .league-game{
	padding-left: 0px;
	padding-right: 0px;
}

.league-tables .league-game a{
	text-align: center;
}

.league-tables .league-game a:first-child{
	text-align: left;
}

.league-tables .league-game-selection-type{
	text-align: center;
	font-size: 90%;
}

.league-tables .league-game a:not(:first-child):hover{
	background-color: #F7F7F7;
}

.league-tables .league-game a small{
	color: #3C4F85;
	padding-right: 5px;
}



/**********************************
bet slip
**********************************/


@media screen and (min-width: 1200px) {
	.right-sports-bar-container{
		padding-left: 40px;
		padding-right: 20px;
	}
}


#bet-slip {
	color: #8B8C8E;
}

#bet-slip .panel-heading{
	color: #8B8C8E;
	background-color: #ffffff;
	border-bottom: none;

	padding-top: 10px;
	padding-bottom: 10px;
}

#bet-slip .panel-heading h3{
	font-size: 110%;
}

#bet-slip .panel-body{
	padding-bottom: 10px;
}


#bet-slip .panel-body{
	padding-bottom: 2px;
	padding-top: 7px;
}

#bet-slip .panel-body input { 
	display: inline;
	width: 50px;
	margin-left: 5px;
}

#bet-slip .panel-body .bet-slip-single-bet:first-child{ 
	margin-top: -8px; 
}

#bet-slip .panel-body .bet-slip-single-bet{ 
	margin-top: -8px; 
}

#bet-slip .panel-body .bet-slip-single-bet:first-child{ 
	margin-top: 0px; 
}

#bet-slip .panel-body .bet-slip-single-bet .panel-body{  
    padding-bottom: 0px;
}

#bet-slip .panel-body .bet-slip-single-bet .panel-body p{ 
    line-height: 90%;
}


#bet-slip #bet-slip-total-odd{ 
    margin-top: -10px;
}

#bet-slip .panel-body .bet-slip-single-bet .panel-body .cross{  
    font-size: 90%;
    color: red;
    font-weight: bold;
}


#bet-slip .empty-bet-slip{  
    margin-top: 7px;
    margin-bottom: 0px;
}

#bet-slip button{
	background-color: #F8F8F8;
	color: #A8A9AA;
    margin-bottom: 5px;
}

/**********************************
Tips on this game
**********************************/

.chat-panel .panel-heading{	
	color: #8B8C8E;
	background-color: #ffffff;
	border-bottom-color: rgba(234,222,222, 0.5);
}

#tips-on-this-events .chat-img img{ 
    width: 50px;
    height: 50px;
}

#tips-on-this-events .tip-on-this-event .media-body p:nth-child(2){ 
	margin-top: -3px;
	font-size: 80%;
}


#tips-on-this-events .tip-on-this-event { 
    padding-left: 10px;
}

#tips-on-this-events .tip-on-this-event a { 
    color:black;
}

#tips-on-this-events .tip-on-this-event { 
    margin-top: 3px;
    margin-bottom: 3px;
}


/*****************************************
Buttons
*****************************************/

.my-sucess-button{
	color: white;
	border-color: #5CB85C;
	background-color: #5CB85C;
	min-width: 20px;
	min-height: 20px;
	padding: 2px;
	font-size: 60%;
	border-radius: 20% !important;
}

.my-sucess-button:hover{
	color: white;
	background-color: rgba(92, 184, 92, 0.8);
}

.my-fail-button{
	color: white;
	border-color: #F0433D;
	background-color: #F0433D;
	min-width: 20px;
	min-height: 20px;
	padding: 2px;
	font-size: 60%;
	border-radius: 20% !important;
}

.my-fail-button:hover{
	color: white;
	border-color: #F0433D;
	background-color: rgba(240, 67, 61, 0.8);
}


/*******************************************
		font-awesome badge
******************************************/

.font-awesome-badge {
  position: absolute;
  margin-top: -9px;
  right: 31px;
  display: inline;
  font-size: 11px;
  padding: 2px 4px 2px 4px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: white;
}

.badge-default {
  background-color: #999 !important;
}
.badge-primary {
  background-color: #dc6767 !important;
}
.badge-red {
  background-color: #bf4346 !important;
}
.badge-orange {
  background-color: #e9662c !important;
}
.badge-green {
  background-color: #5CB85C !important;
}
.badge-yellow {
  background-color: #f2994b !important;
}
.badge-blue {
  background-color: #0a819c !important;
}
.badge-violet {
  background-color: #9351ad !important;
}
.badge-pink {
  background-color: #bf3773 !important;
}
.badge-grey {
  background-color: #4b5d67 !important;
}
.badge-dark {
  background-color: #594857 !important;
}

.badge-success {
  background-color: #5cb85c;
  background-image: none !important;
}

.badge-warning {
  background-color: #f0ad4e;
  background-image: none !important;
}

.badge-danger {
  background-color: #d9534f;
  background-image: none !important;
}

.badge-info {
  background-color: #5bc0de;
  background-image: none !important;
}


/********************************************
 	navbar search
 ********************************************/

[role="search"] input{
	border-radius: 0px;
}

@media(min-width:768px) {
	.nav-search-bar [role="search"] input, .nav-search-bar [role="search"] button{
		border:none;
	}

	.nav-search-bar [role="search"] input{
		width: 230px !important;
		padding-left: 0px;
	}

	.nav-search-bar [role="search"] input:focus, .nav-search-bar [role="search"] input {
		text-decoration: none !important;
		outline:none !important;
		border: none !important;
		box-shadow: none !important;
	}
}

@media(min-width:800px) {
	.nav-search-bar [role="search"] input{
		width: 240px !important;
	}
}
@media(min-width:992px) {
	.nav-search-bar [role="search"] input{
		width: 300px !important;
	}
}
@media(min-width:1200px) {
	.nav-search-bar [role="search"] input{
		width: 600px !important;
	}
}


.nav-search-bar{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #D1D1D1;
	padding-left: 0px;
}

.navbar-form {
    overflow: auto;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%; 
    vertical-align: middle;
}
.navbar-form .form-group {
    display: inline;
}

 @media (max-width:767px) {
    .navbar-nav.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
