@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("font-awesome-4.7.0/css/font-awesome.min.css");
@import url("login.css");
@import url("loadingGif.css");
@import url("topbar.css");
@import url("verticalSlider.css");
@import url("sidebar.css");
@import url("feed.css");
@import url("trendbar.css");
@import url("sports.css");
@import url("chat.css");
@import url("home.css");
@import url("rankings.css");
@import url("profile.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");
@import url("flag-icon-css/css/flag-icon.css");

/*************************************************
Html General Elements
*************************************************/


body{	
    /*background-color: #FAFAFA;*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	overflow-y: scroll;
	width: 100%;
}

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

/*a{
	color: #8EB7D4;
}

a i{
	color: #637BBF;
}*/

a{
	color: #333 !important;
    transition: color 500ms;
}

a:hover {
	color: #c30000 !important;
}

/*#app{
	position: relative;
	width: 100%;
	float: left;
}*/



.panel, .table{
	border: solid 1px;
	border-top-color: #DCDCDC;
	border-bottom-color: #B1B1B1;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-radius: 0px;
	-webkit-box-shadow: 0 6px 6px -6px #B1B1B1;
	-moz-box-shadow: 0 6px 6px -6px #B1B1B1;
	box-shadow: 0 6px 6px -6px #B1B1B1;
	background-color: white;
}

.panel * {
	border-color: #E6E9EC;
}

.panel .panel-heading{
	border-radius: 0px;
}
.panel-footer{
	background-color: white;
}

.btn, .btn:hover, .btn:active, .btn:visited{
	background-color: #2B2B2B;
	color: white;
	border-color: #2B2B2B;
}

textarea, input{  
	border-radius: 0px !important;
	outline: none;
	box-shadow: none;
}


#wrapper {
    width: 100%;
}

#page-wrapper {
    min-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 0s 1.5s;
    position: absolute;
    top: 62px;
    width: 100%;
    float: left;
}

#page-wrapper.selected{
    min-height: calc(100vh - 158px);
    height: auto;
    overflow: auto;
    transition: none;
}

#page-wrapper > section{
	padding: 0;
}

#page-wrapper > section.loading > *:not(.loading-placeholder){
	display: none;
}

#page-wrapper section > .breadcrumb{
    background-color: rgba(246,247,248,1);
    border-bottom: solid 1px rgb(221,221,221);
    padding: 15px;
    color: rgba(36,36,36,1);
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

#page-wrapper section > .breadcrumb>li+li:before{
    padding: 0 13px;
}

#page-wrapper .loading-placeholder > .loading-gif-container.loading{
    opacity: 1;
/*    height: calc(100vh - 158px);
	animation-name: opacity-fade-in-animation;
	animation-duration: 2000ms;
	animation-delay: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;*/ 
}

#page-wrapper .loading-placeholder > .loading-gif-container{
	opacity: 0;
	transition: opacity 500ms ease-in-out;
    position: absolute;
    width: 100%;
    bottom: 80px;
}

#page-wrapper .loading-placeholder > .loading-gif-container .loading-gif .uil-facebook-css > div{
	background: white;
    width: 20px;
    height: 80px;
    opacity: 0.8;
}
#page-wrapper .loading-placeholder > .loading-gif-container .loading-gif .uil-facebook-css > div:nth-of-type(2){
	opacity: 0.9;
}
#page-wrapper .loading-placeholder > .loading-gif-container .loading-gif .uil-facebook-css > div:nth-of-type(3){
	opacity: 1;
}

#page-wrapper .loading-placeholder > .loading-gif-container .loading-gif .uil-facebook-css{
	width: 60px;
    position: relative;
    left: -15px;
}

.fade-in{
    opacity: 0;
	animation-name: opacity-fade-in-animation;
	animation-duration: 1000ms;
	animation-delay: 150ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
}

@keyframes opacity-fade-in-animation {
    to {
    	opacity: 1;
    }
}


#page-wrapper .loading-placeholder{
	width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60vh - 88px);
    transition: height 750ms ease-in-out;
}

#page-wrapper > section.loading .loading-placeholder{
    height: calc(100vh - 62px);
}

picture.parallax{
	position: absolute;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.6);
    transition: filter 750ms ease-in-out;
}

#page-wrapper > section.loading .loading-placeholder picture{
    filter: brightness(1);
}

#page-wrapper .loading-placeholder h2{
    position: relative;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
    transition: font-size 750ms ease-in-out;
}

#page-wrapper > section.loading .loading-placeholder h2{
	font-size: 50px;
    text-align: center;
}

[role="search"] input{
    border-radius: 0px;
}

.no-padding-sides{
	padding-left: 0px;
	padding-right: 0px;
}

.btn{
	border-radius: 0px;
}

.black{
	background-color: black;
}
.color-black{
	color: black !important;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.color-orange{
	color: orange !important;
}
.color-dark-red{
	color: #D90000 !important;
}
.blue{
	background-color: blue;
	color: blue;
}


/*************************************************
Nav bar user avatar
*************************************************/

.nav-bar-avatar {
	padding: 11px 15px !important;
}

.nav-bar-avatar img{
	width: 24px;
	height: 24px;
	padding: 1px;
}

.nav-bar-avatar .tipster-name-avatar{
	display: inline-block;
	padding-top: 10px;
	margin-left: 5px;
}

.nav-bar-avatar .tipster-name-avatar p:first-child{
	margin-bottom: -3px;
	color: #fff;
}

.nav-bar-avatar .tipster-name-avatar p:last-child{
	margin-bottom: 3px;
	font-size: 12px;
	color: #888888;
}

.nav-bar-avatar i{
	position: absolute;
	top: 15px;
}


/*****************************************
Buttons
*****************************************/

.my-sucess-button, .my-fail-button{
	color: white;
	width: 20px;
	height: 20px;
	padding: 0px;
	font-size: 12px;
	font-weight: 700;
	border: solid 2px;
	background-color: white;
}

.my-sucess-button{
	color: #59AD00;
	border-color: #59AD00;
}

.my-sucess-button:hover{
	color: #59AD00;
	background-color: #EEE;
	border-color: #59AD00;
}

.my-fail-button{
	color: #C60203;
	border-color: #C60203;
}

.my-fail-button:hover{
	color: #C60203;
	background-color: #EEE;
	border-color: #C60203;
}





/****************** <Loading gif ( from http://cssload.net/)> *******************/

.cssload-container{
	position:absolute;
	top: 75px;
	margin-left: 50%; 
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 1249px;
		-o-border-radius: 1249px;
		-ms-border-radius: 1249px;
		-webkit-border-radius: 1249px;
		-moz-border-radius: 1249px;
}

.cssload-whirlpool {
	margin: -31px 0 0 -31px;
	height: 63px;
	width: 63px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -29px 0 0 -29px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -36px 0 0 -36px;
	height: 70px;
	width: 70px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}

/****************** </ Loading gif ( from http://cssload.net/)> *******************/




#scrollable{
	background-color: red;
	width: 100px;
	max-height: 400px;
	overflow-y: scroll;
}

#scr{
	width: 100%;
	height: 100%;
}




/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    display: none;
    
    /*position: absolute;
    left: -9999px;*/
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  color: rgb(36,36,36);
  font-size: 14px;
  font-weight: 500;
}

[type="checkbox"]:not(:checked) + label{
  color: rgb(136,136,136);
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 23px; height: 23px;
  border: 1px solid #bbb;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: 'âœ”';
  position: absolute;
  top: 0px; left: 0px;
  padding: 5px;
  font-size: 14px;
  width: 23px; height: 23px;
  line-height: 0.8;
  color: #c30000;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}


/* hover style just for information */
label:hover:before {
  border: 1px solid #c30000!important;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: rgb(36,36,36);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="radio"]:not(:checked) + label {
    color: rgb(136,136,136);
}
input[type="radio"] + label span {
    display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span.outer {
    width:20px;
    height:20px;
    margin: 0px 10px 0px 0px;
    /* padding: 2px; */
    /*margin-right: 15px;*/
    cursor:pointer;
    border: solid 1px rgb(137,137,137);
    background-color: white;
}
input[type="radio"] + label span.inner {
    width: 10px;
    height: 10px;
    margin: 4px 0px 0px 4px;
    /*margin: 0px 10px 16px 2px;*/
    background-color: white;
    vertical-align: top;
    text-align: center;
}

input[type="radio"]:checked + label span.inner{
     background-color:#CC3300;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}




.button {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    border: solid 1px rgb(204,204,204);
    padding: 10px 24px;
    cursor: pointer;

    /* comentado devido a um 1px em falta no preenchimento */
    /*overflow: hidden;*/

    position: relative;
    -webkit-transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
    -moz-transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
    transition: color 500ms ease-in-out, border-color 500ms ease-in-out;
}

a.link-button{
	transition: none;
}

.inner .button {
    border-color: white;
}

.button>* {
    position: relative;
}

.button:hover,
.button.active {
    color: white;
    border-color: #c30000;
}

.button.active {
    background-color: #c30000;
}

.button:before {
    background-color: #c30000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.button:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}





._dropdown{
	position: absolute;
	right: 0px;
	z-index: 1;
	top: calc(100% + 5px);
	background-color: white;

	overflow: hidden;
	width: 38px;
	height: 0px;
	border-width: 0px;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

	transition: top 0.5s 1s, height 0.5s 1s, width 0.5s 0.5s, border-width 0s 1.25s;
}

._dropdown.open{
	width: calc(100vw - 60px);
	height: 675px;
	border-width: 1px;
	transition: top 0.5s, height 0.5s, border-width 0.5s, width 0.5s 0.5s;
}

._dropdown > *{
	opacity: 0;
	transition: opacity 0.75s;
	padding: 15px 30px; 
}
._dropdown.open > *{
	opacity: 1;
	transition: opacity 1s 1s;
}

.warning{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: -10000;
    background-color: rgba(0,0,0,0.0);
    display: flex;
    transition: background-color 0.2s, opacity 0.2s, z-index 0s 0.2s;
    opacity: 0;
}

.warning.active{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    z-index: 2000;
    opacity: 1;
    transition: background-color 0.2s, opacity 0.2s;
}

.warning .panel{
	min-width: 300px;
	opacity: 0;
	transform: scale(0);
	animation-name: warning-panel-enter;
	animation-duration: 0.75s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; 
    box-shadow: 0 0 10px white; 
}


@keyframes warning-panel-enter {
    to {
    	opacity: 1;
		transform: scale(1);
    }
}

.warning .dismiss{
    content: '\2715';
    position: absolute;
    top: -38%;
    right: -15%;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    transition: transform 400ms;
}

.warning .dismiss:hover{
    cursor: pointer;
    transform: rotate(90deg);
}

.warning .panel-body{
	display: flex;
	align-items: center;
	justify-content: center;
}

.warning .panel-body i{
	margin-right: 10px;
	color: #c30000;
}

.hover-underline{
	position: relative;
}

.hover-underline:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 2px;
	background-color: #333;
	transition: width 200ms;
}

.hover-underline:hover:after{
	width: 100%;
}

svg.arrow{
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    fill: none;
    stroke: #333;
    transition: transform 200ms ease-in-out;
    transform: rotate(0deg);
}




@media(min-width:768px) {

	#page-wrapper {
	    top: 88px;
	}

	#page-wrapper > section.loading .loading-placeholder{
	    height: calc(100vh - 88px);
	}

	#page-wrapper > section.loading .loading-placeholder h2{
		font-size: 100px;
	}

	#page-wrapper .loading-placeholder h2{
		font-size: 60px;
	}



	#page-wrapper section > .breadcrumb{
	    padding: 35px 80px;
    	font-size: 16px;
	}
}