.navbar{
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;   
    padding: 0px;

    background-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 15px 0px rgba(189,187,189, 0);

    transition: all 750ms linear;
    -webkit-transition: all 750ms linear;
    /*border-width: 0 0 1px;
    border-bottom: solid 1px #E7E7E7;
    box-shadow: 0 0 8px rgba(0,0,0,0.075);*/
}

.navbar .navbar-header{
    z-index: 1030;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.navbar-toggle{
    z-index: 1;
}

.navbar .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar.inverted .navbar-toggle:hover .icon-bar,
.navbar .navbar-toggle:hover .icon-bar{
    background-color: #c30000;
}

.navbar.inverted .navbar-toggle .icon-bar{
    background-color: #333;
}


.brand-name,
.navbar .navbar-brand {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: auto;
    padding: 0;

    font-weight: 300;
}

.navbar .navbar-brand {
    width: 100px;
}


.brand-name *,
.navbar .navbar-brand *{
    color: white;
    transition: color 200ms;
}

.brand-name p,
.navbar .navbar-brand p{
    display: inline-block;
    font-size: 36px;
    margin: 0;
}


.navbar .navbar-links{
    position: fixed;
    left: 0;
    top: 0;

    width: 0;
    height: 0;
    overflow: hidden;

    padding-top: 60px;

    background-color: rgba(0,0,0,0.93);

    opacity: 0;
    transition: opacity 750ms, width 0s 750ms, height 0s 750ms;
}

.navbar .navbar-links.open{
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 750ms;
}


.navbar .navbar-links a {
    color: white !important;
    text-transform: uppercase;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 500ms 250ms, color 200ms;
}

.navbar .navbar-links.open a {
    opacity: 1;
}

.navbar .navbar-links a.hover-underline:after{
    content: none;
}


.navbar .navbar-actions{
    width: 59%;
    max-width: 200px; 
    float: right;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-actions .link{
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 0;

    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}

.navbar .link svg{
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 25%;

    fill: white;
    stroke: white;
    transition: stroke 200ms, fill 200ms;
}

.navbar .link:hover svg{
    cursor: pointer;
}

.navbar .navbar-actions .link > i{
    position: relative;
    font-size: 16px;
    color: #fff;
}

.navbar .navbar-actions .link > img{
    width: 25px;
    padding: 1px;
}

.navbar .navbar-actions .link > i .font-awesome-badge {
    position: absolute;
    top: -11px;
    right: -13px;
    width: 16px;
    height: 16px;
    padding: 2px;

    border-radius: 100%;

    font-size: 10px;
    color: white;
}

.navbar .navbar-actions .link > i .font-awesome-badge.badge-red {
    background-color: #bf4346;
}

.navbar .navbar-actions .link > i .font-awesome-badge.badge-green {
    background-color: #5CB85C;
}




.navbar .navbar-actions .sidebar-right{
    position: absolute;
    top: 61px;
    right: 14px;
    height: calc(100vh - 61px);
    width: 300px;
    max-width: 90vw;
    background-color: white;
    transform: translate(100%,0);
    overflow: hidden;
    border-left: solid 1px #E6E9EC;
    border-right: solid 1px #E6E9EC;

    -webkit-transition: transform 1000ms;
    -moz-transition: transform 1000ms;
    -o-transition: transform 1000ms;
    transition: transform 1000ms;
}

.navbar .navbar-actions .sidebar-right.open{
    transform: translate(0%,0);
}


.sidebar-right{
    cursor: default;
}

.sidebar-right header {
    display: flex;
    padding: 10px;
    border-bottom: solid 1px #dddfe2;
}


.sidebar-right h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 0 5px;
}

.sidebar-right header .new-message{
    margin-left: auto;
    cursor: pointer;
}


.sidebar-right ul {
    padding: 0px;
    max-height: 95%;
    width: calc(100% + 17px);
    overflow-y: scroll;
    margin: 0;
}

.sidebar-right ul li {
    display: flex;
    align-items: center;

    padding: 10px;

    border-bottom: solid 1px #dddfe2;

    color: #333;
    background: white;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
.sidebar-right ul > *:last-child,
.sidebar-right ul a:last-child li:not(.empty) {
    margin-bottom: 100px;
}
.sidebar-right ul li.empty:hover {
    background-color: white;
    cursor: default;
}

.sidebar-right ul li img {
    width: 39px;
    height: 39px;
}

.sidebar-right ul li.empty {
    display: block;
    text-align: center;
    padding: 20px 0;
}


.sidebar-right ul li .content {
    padding: 0px 10px;
    width: 100%;
}

.sidebar-right ul li .content.notification-item {
    display: flex;
    align-items: center;
}


.sidebar-right ul li .content h3 {
    font-size: 14px;
    margin: 5px 0px;
    font-weight: 600;
    display: inline;
}

.sidebar-right ul li .content p {
    font-size: 13px;
    margin: 0;
}

.sidebar-right ul li .content .time {
    font-size: 11px;
    color: #90949c;
}

.sidebar-right ul li .content.notification-item .time {
    white-space: nowrap;
    align-self: center;
}

.sidebar-right ul li .content.notification-item .time i {
    display: block;
    margin: auto;
}
.sidebar-right ul li .content.notification-item .time .em {
    white-space: nowrap;
}

.sidebar-right ul li.highlighted {
    background-color: #edf2fa;
}

.sidebar-right ul li:hover {
    background-color: #F6F6F7;
    color: #333;
    cursor: pointer;
}





/********************************************
    Search
 ********************************************/


.sidebar-right .navbar-form {
    padding: 0;
    margin: 0;
}

.sidebar-right .navbar-form input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #E6E9EC;
    height: 45px;
}
.sidebar-right .navbar-form input:focus, .sidebar-right .navbar-form input{
    outline: none;
    box-shadow: none;
}

.sidebar-right .navbar-form .form-control {
    width: 100%; 
}

.sidebar-right .navbar-form .form-group {
    display: flex;
}

.sidebar-right .navbar-form .form-control-feedback {
    display: inline;
    padding: 15px 0;
    height: 45px;
    width: 45px;
}


/* navbar inverted */

.navbar.inverted {

    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 15px 0px rgba(189,187,189, 1);
}

.navbar.inverted .link svg{
    fill: #333;
    stroke: #333;
}

.navbar.inverted .link:hover svg{
    fill: #c30000;
    stroke: #c30000;
}


.navbar.inverted .navbar-links a.active,
.navbar.inverted .navbar-links a:hover{
    color: #c30000 !important;
}

.navbar.inverted .navbar-brand *{
    color: #333;
}

.sidebar-right.user-sidebar ul li{
    padding: 10% 20px;
}

.navbar .navbar-actions .sidebar-right.user-sidebar {
    height: auto;
}
.sidebar-right.user-sidebar ul a:last-child li:not(.empty){
    margin-bottom: 0;
}

@media(min-width:768px) {

    .navbar .navbar-header{
        height: 85px;
        justify-content: flex-start;
    }

    .navbar .navbar-brand{
        width: 110px;
    }

    .navbar .navbar-actions{
        margin-left: auto;
    }


    .brand-name p,
    .navbar .navbar-brand p{
        font-size: 50px;
    }
    .brand-name small,
    .navbar .navbar-brand small{
        font-size: 25px;
    }

    .navbar .navbar-links.open,
    .navbar .navbar-links{
        position: relative;
        width: 60%;
        height: auto;
        padding: 0;
        margin-left: 5%;
        opacity: 1;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navbar .navbar-links a{
        opacity: 1;
        display: inline-flex;
        font-size: 17px;
    }

    .navbar.inverted .navbar-links a{
        color: #333 !important;
    }

    .navbar .navbar-links a.hover-underline:after{
        content: '';
        bottom: calc(50% - 16px);
        background-color: white;
    }


    .navbar .navbar-actions .sidebar-right{
        top: 87px;
        height: calc(100vh - 87px);
    }
}


@media(min-width:992px) {

    .navbar .navbar-brand{
        margin-left: 5%;
    }

    .navbar .navbar-links{
        margin-left: 2%;
        width: 50%;
    }

    .navbar .navbar-links.open,
    .navbar .navbar-actions{
        margin-right: 100px;
    }

}