#vertical-slider.selected{
	display: flex;
    transform: translateY(0%);
    opacity: 1;
}

#vertical-slider{
	width: 100%;
	height: 100vh;
	display: flex;
    opacity: 0.5;
    transform: translateY(-100%);
    -webkit-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
    -moz-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
    -o-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
    transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
}

#vertical-slider .slide{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 4;

	transform: translateY(-100%);
    -webkit-transition: all 1000ms cubic-bezier(0.550,0.085,0.000,0.990);
    -moz-transition: all 1000ms cubic-bezier(0.550,0.085,0.000,0.990);
    -o-transition: all 1000ms cubic-bezier(0.550,0.085,0.000,0.990);
    transition: all 1000ms cubic-bezier(0.550,0.085,0.000,0.990);
}

#vertical-slider,
#vertical-slider .slide{
    -webkit-transition-timing-function: cubic-bezier(0.550,0.085,0.000,0.990);
    -moz-transition-timing-function: cubic-bezier(0.550,0.085,0.000,0.990);
    -o-transition-timing-function: cubic-bezier(0.550,0.085,0.000,0.990);
    transition-timing-function: cubic-bezier(0.550,0.085,0.000,0.990);
}

#vertical-slider .slide.active{
	z-index: 3;
	transform: translateY(0%);
}
#vertical-slider .slide.prevDotClick{
	z-index: 5;
}
#vertical-slider .slide.active ~ .slide.prevDotClick{
	z-index: 2;
}
#vertical-slider .slide.active ~ .slide.next{
	z-index: 2;
}
#vertical-slider .slide.active ~ .slide{
	z-index: 1;
	transform: translateY(0%);
}


#vertical-slider .slide *{
	color: white;
}

#vertical-slider .slide > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

	opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0.4s;
    -moz-transition: all 0.3s ease-in-out 0.4s;
    -o-transition: all 0.3s ease-in-out 0.4s;
    -ms-transition: all 0.3s ease-in-out 0.4s;
    transition: all 0.3s ease-in-out 0.4s;
    -webkit-transform: scale(0.85) translate3d(0,0,0);
    -moz-transform: scale(0.85) translate3d(0,0,0);
    -o-transform: scale(0.85) translate3d(0,0,0);
    -ms-transform: scale(0.85) translate3d(0,0,0);
    transform: scale(0.85) translate3d(0,0,0);
}

#vertical-slider .slide.active *{
	color: white;
	opacity: 1;
    -webkit-transform: scale(1) translate3d(0,0,0);
    -moz-transform: scale(1) translate3d(0,0,0);
    -o-transform: scale(1) translate3d(0,0,0);
    -ms-transform: scale(1) translate3d(0,0,0);
    transform: scale(1) translate3d(0,0,0);
}

#vertical-slider .slide div {
	text-align: center;
}

#vertical-slider .slide p{
	font-size: 50px;
	text-transform: uppercase;
}

#vertical-slider .slide small{
	font-size: 15px;
    display: block;
    margin-bottom: 20px;
}

#vertical-slider .slide a{
	font-size: 12px;
	color: white !important;
	text-transform: uppercase;
}

#vertical-slider .slide a:after{
	background-color: white;
    bottom: -2px;
    height: 1px;
}


#vertical-slider .slide > picture{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	filter: brightness(0.3);
}

/* Dots */

#vertical-slider .dots{
	position: relative;
	z-index: 5;
    align-self: center;
    margin-left: auto;
    margin-right: 5%;
}

#vertical-slider .dot{
	position: relative;
	width: 6px;
	height: 6px;
	margin: 25px 0;
}

#vertical-slider .dot span{
	position: relative;
	display: block;
	width: 6px;
	height: 6px;
	margin: 25px 0;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	transition: background-color 1000ms;
}

#vertical-slider .dot.active span{
	background-color: rgba(255,255,255,1);
}

#vertical-slider .dot span:hover{
	cursor: pointer;
}


#vertical-slider .dot .hover{
    position: absolute;
    top: -6px;
    right: 15px;

	color: white;
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;

	opacity: 0;
	transition: opacity 200ms;
}

#vertical-slider .dot span:hover ~ .hover{
	opacity: 1;
}