    
<div class="container" id="feed-container" ng-controller="FeedCtrl">
    <div class="row">

		<!-- Filters -->
        <div class="col-xs-2 filters">
            <div class="row">
                <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Filters</h4>
                    </div>
                </div> -->


                <div class="panel-body col-xs-12">   

                    <div>
                        <h4>Order By</h4>
                        <div class="custom-radio">
                            <input type="radio" checked="" name="filter_hotel" id="filter_hotel_1" value="1" hidefocus="true" style="outline: none;"><label for="filter_hotel_1" class="checked">Share Date</label>
                        </div> 
                        <div class="custom-radio"><input type="radio" name="filter_hotel" id="filter_hotel_2" value="2" hidefocus="true" style="outline: none;"><label for="filter_hotel_2" class="">Event Date</label></div> 
                    </div>

                    <div class="divider"></div>


                    <div>
                        <h4>Tip Type</h4>
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_1" id="filter_location_1" value="1" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_1" class="checked">Single Bet</label></div> 
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_2" id="filter_location_2" value="2" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_2" class="checked">Multiple Bet</label></div> 
                    </div>


                    <div class="divider"></div>


                    <div>
                        <h4>Odds over</h4>
                        <input id="min-odd-input" type="number" name="min-odd" min="1.00" value="1.00" step="0.01" size="5">
                    </div>

                    <div class="divider"></div>

                    <div>
                        <h4>Sports</h4>
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_3" id="filter_location_3" value="3" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_3" class="checked">Football</label></div> 
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_4" id="filter_location_4" value="4" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_4" class="checked">BasketBall</label></div> 
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_5" id="filter_location_5" value="5" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_5" class="checked">Tennis</label></div> 
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_6" id="filter_location_6" value="6" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_6" class="checked">HandBall</label></div> 
                        <div class="custom-checkbox"><input type="checkbox" name="filter_location_6" id="filter_location_6" value="6" checked="" hidefocus="true" style="outline: none;"><label for="filter_location_6" class="checked">VolleyBall</label></div> 
                    </div>

                    <div class="divider"></div>

                    <button type="button" class="btn btn-primary btn-xs col-xs-12">Refresh</button>
                </div>
            </div>
        </div>



        <div class="col-xs-12 col-lg-5 col-md-offset-4">
            <div class="row" id="feed-post-container" ng-repeat="post in posts">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading tipster_post">
                            <img ng-src="{{post.tipsterImage}}">
                            <div class="tipster_post_text">
                                <span class="tipster_post_text_name">{{post.tipsterName}}</span>
                                <br>
                                <span class="tipster_post_text_hour">{{post.postTime}}</span>
                            </div>  

                            <div class="btn-group-horizontal" role="group">
		                        <button type="button" class="btn btn-primary btn-sm" ng-click="likePost(post)"><img src="{{!post.like && 'img/like.png' || 'img/likefilled.png'}}"></button>
		                        <button type="button" class="btn btn-success btn-sm"><img src="img/comments.png"></button>
		                        <button type="button" class="btn btn-warning btn-sm" ng-click=addToWatchList(post)><img src="{{!post.watchList && 'img/star.png' || 'img/starfilled.png'}}"></button>
		                    </div>                            
                        </div>
                        
                        <div class="panel-body col-xs-12 post-event" ng-repeat="event in post.events">
                            <div>
                                <p><b>{{$index + 1}}.  {{event.selection}}</b></p>
                                <p>{{event.name}}</p>
                                <p>Odd: {{event.odd}}</p>
                            </div>
                        </div>                        
                    </div>
                </div>

            </div>
        </div>
        
        <!-- Right panel "Adds" -->
        <div class="col-xs-3 col-xs-offset-1" style="position: fixed; right:0%; top:13%;">
            <!-- Avatar Placeholder -->
            <div class="feed-right-news col-xs-8">

                <div><img src="img/usopen.jpg" alt=""></div>
                <div class="feed-right-news-content">
                    <div class="avatar"><img src="img/usopenlogo.png" alt=""></div>
                    <div class="subtitle">
                        <h5>US Open is coming next Monday!</h5>
                        <p>Make your predictions</p>
                    </div>
                </div>
            </div>
            <div class="feed-right-news col-xs-8">

                <div><img src="img/basktet-news.jpg" alt=""></div>
                <div class="feed-right-news-content">
                    <div class="avatar"><img src="img/nba-logo.png" alt=""></div>
                    <div class="subtitle">
                        <h5>Knicks vs Cavaliers Tonight 21:00</h5>
                        <p>Will Knicks continue their streak?</p>
                    </div>
                </div>
            </div>
        </div> <!-- Right panel "Adds" -->
    </div>
</div>