
<div class="container" id="feed-container" ng-controller="FeedCtrl">
    <div class="row">

		<!-- Filters -->
            <div class="col-xs-12 col-lg-3 col-md-push-8 hidden-xs filter-accordion">
	        <div class="panel-group" id="accordion-filter" role="tablist" aria-multiselectable="true">
	          <div class="panel panel-default">
	            <div class="panel-heading" role="tab" id="accordion-filter-headingOne">
	              <h4 class="panel-title">
	                <a role="button" data-toggle="collapse" data-parent="#accordion-filter" href="#accordion-filter-collapseOne" aria-expanded="true" aria-controls="collapseOne">
	                  <span class="glyphicon glyphicon-filter pull-left" aria-hidden="true"></span>Filters
	                </a>
	              </h4>
	            </div>
	            <div id="accordion-filter-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="accordion-filter-headingOne">
	            
	                <div class="panel-body col-xs-6">
	                    Order By
	                </div>
	                
	                <div class="panel-body col-xs-6 filter-select">
	                    <select class="col-xs-12">
	                        <option selected="selected">Share Date</option>
	                        <option>Event Date</option>
	                    </select>
	                </div>
	
	                <div class="panel-body col-xs-6">
	                    Odds over
	                </div>
	                <div class="panel-body col-xs-6 filter-input">
	                    <input type="text" class="form-control" placeholder="1.33">
	                </div>
	                <div class="panel-body col-xs-6">
	                    Odds under
	                </div>
	                <div class="panel-body col-xs-6 filter-input">
	                    <input type="text" class="form-control" placeholder="2.4">
	                </div>
	
	
	                <div class="panel-body col-xs-6">
	                    Tip Type
	                </div>
	                <div class="panel-body col-xs-6 filter-select">
	                    <select class="col-xs-12">
	                        <option selected="selected">All</option>
	                        <option>Multiple</option>
	                        <option>Single</option>
	                    </select>
	                </div>
	
	
	                <div class="panel-body col-xs-6">
	                    Sports
	                </div>
	                <div class="panel-body col-xs-6 filter-select">
	                    <select class="col-xs-12">
	                        <option selected="selected">All</option>
	                        <option>Football</option>
	                        <option>Basketball</option>
	                        <option>Tennis</option>
	                        <option>Handball</option>
	                        <option>Volleyball</option>
	                    </select>
	                </div>
	
	
	                <button type="button" class="btn btn-primary btn-sm col-xs-12" ng-click="sort()">Apply Filters</button>
	            </div>
	          </div>
	      </div>
	    </div>


        <div class="col-xs-12 col-lg-5 col-md-offset-2">
            <div class="row" id="feed-post-container" ng-repeat="post in posts">

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading tipster_post">
                            <img ng-src="{{post.tipsterImage}}">
                            <div class="tipster_post_text">
                                <span class="tipster_post_text_name">{{post.tipsterName}}</span>
                                <br>
                                <span class="tipster_post_text_hour">{{post.postTime}}</span>
                            </div>  

                            <div class="btn-group-horizontal" role="group">
		                        <button type="button" class="btn btn-primary btn-sm" ng-click="likePost(post)"><img src="{{!post.like && 'img/like.png' || 'img/likefilled.png'}}"></button>
		                        <button type="button" class="btn btn-success btn-sm"><img src="img/comments.png"></button>
		                        <button type="button" class="btn btn-warning btn-sm" ng-click=addToWatchList(post)><img src="{{!post.watchList && 'img/star.png' || 'img/starfilled.png'}}"></button>
		                    </div>                            
                        </div>
                        
                        <div class="panel-body col-xs-12 post-event" ng-repeat="event in post.events">
                            <div>
                                <p><b>{{$index + 1}}.  {{event.selection}}</b></p>
                                <p>{{event.name}}</p>
                                <p>Odd: {{event.odd}}</p>
                            </div>
                        </div>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>